In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\Admin\\Documents\\python'

In [3]:
import pandas as pd
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\raithubandhu'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

In [4]:
file_list

['Rytu Bandhu Count.xlsx']

In [5]:
import pandas as pd
import os

import pandas as pdfirst_name
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana\\raithubandhu'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Initialize an empty DataFrame to store the merged data
Final_data = pd.DataFrame()

# Read each CSV file and merge into one DataFrame
for file in file_list:
    file_path = os.path.join(folder_path, file)
    data = pd.read_excel(file_path)
    Final_data = pd.concat([Final_data, data])

# Save the merged data to a new CSV file
Final_data.to_csv('Final1Cr_File.xlsx', index=False)

In [6]:
Final_data.head()

               Name  Mobile Number
0          B మాణేమ్మ    9912460335
1            B సుజాత    9866114631
2          B.రాణేమ్మ    9666591190
3   BAIKADI VEERAMMA    6439743689
4  BONDILI ARTHI BAI    9948537228

In [7]:
Final_data.shape

(89619, 2)

In [8]:
Final_data['Name '] = Final_data['Name '].str.strip()

In [9]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
Final_data = capitalize_column('Name ', Final_data)

In [10]:
Final_data.head()

               Name  Mobile Number
0          B మాణేమ్మ    9912460335
1            B సుజాత    9866114631
2          B.రాణేమ్మ    9666591190
3   Baikadi veeramma    6439743689
4  Bondili arthi bai    9948537228

In [11]:
Final_data.isnull().sum()

Name             0
Mobile Number    0
dtype: int64

In [12]:
Final_data.dropna(inplace = True)

In [13]:
uniq_df = pd.read_excel(r"C:\\Users\\Admin\\Documents\\telangan uniques\\Final_Uniques_File.xlsx")

In [14]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [15]:
uniq_df[uniq_df['Unqiue_names'] == 'Bobby']

      Unqiue_names Telugu_unique_names  telugu_wronginfo
45270        Bobby                బాబీ               NaN

In [16]:
uniq_df.isnull().sum()

Unqiue_names            0
Telugu_unique_names     0
telugu_wronginfo       20
dtype: int64

In [17]:
uniq_df.shape

(45286, 3)

In [18]:
# Remove rows containing 'baby' or 'Baby' in Unqiue_names column (case insensitive)
uniq_df = uniq_df[~uniq_df['Unqiue_names'].str.contains('baby', case=False)]

In [19]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [ ]:
#uniq_df['Unqiue_names'] = uniq_df['Unqiue_names'].str.strip()

In [20]:
#test
uniq_df['Telugu_unique_names'] = uniq_df['Telugu_unique_names'].str.strip()

In [ ]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
uniq_df = capitalize_column('Unqiue_names', uniq_df)

In [ ]:
# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Unqiue_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [21]:
#test

# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Telugu_unique_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [22]:
unique_names_set

{'సంచకరి',
 'మాయార్',
 'దీక్సాహ',
 'ఆదిలక్ష్మ్మ',
 'బ్రహ్మరుశీ',
 'ఓషరత్',
 'రామంచి',
 'మునేశ్వరి',
 'కవిర్ఠనా',
 'అంగెలో',
 'ఖజీర్',
 'జోష్',
 'ఇమ్తఇస్',
 'రుమాండ్లా',
 'భవ్యశ్రీ',
 'సైనాద్',
 'దిపేష్',
 'మహానిధి',
 'కోఠేశ్వర్',
 'మునిసాహిత్',
 'కేశూ',
 'పద్మనాబయ్య',
 'బార్గవకుమార్',
 'సరస్',
 'గాబ్రియల్',
 'రమ్మా',
 'ఏషవష',
 'చిత్రంజన్',
 'సరాఫ్',
 'గరీ',
 'అన్వరి',
 'ర్యాలి',
 'రమలా',
 'మల్లికమ్మ',
 'సనత్',
 'తపటి',
 'సారంగపాణి',
 'బూషణం',
 'అస్థ',
 'జాలమ్మ',
 'కందిమల్',
 'జమిలా',
 'షివనీల',
 'సైమలికా',
 'అమలోద్భవి',
 'లివెరినిత',
 'షోభాహ్జని',
 'డేసెంట్రాజ్',
 'బల్జిత్',
 'శివరామక్రిష్',
 'యాహుబ',
 'శవాణి',
 'నిరీష్',
 'క్షీరసాగర్',
 'రఘుదన',
 'హంజా',
 'సంజీత్',
 'మహూబ్',
 'గిరిప్రసాద',
 'కౌశీక్కూమర',
 'ఎస్ధాని',
 'బిల్కిష్',
 'ఆజ్హిళారుసి',
 'బుక్దడ',
 'హమాలీ',
 'తరుణ్\u200cకుమార్',
 'షాలెం',
 'గున్నంగారి',
 'ఆసంపెల్లిమోహన్',
 'రవజి',
 'క్రినాకాంత్',
 'రమీజుద్దీన్',
 'నిషికాంత్',
 'దేవానంద్',
 'భగూరామ్',
 'రంగాచార్యులు',
 'ఆల్ఫ్రెయ్',
 'సైకిరాన్మై',
 'దలమ్మ',
 'మానిక్',
 'వెనకటయ్య',
 'గియుడ్',
 'పౌలినా',
 'మధుమాధవన్',
 'గోవింద్',
 'శుక్లావతి',
 'డయానా',
 'కర్తర్',
 'సౌరబ్',
 'గిరిరెడ్డి',
 'హరిమిండర్',
 'మాణికేశ్వర్',
 'ప్రతీక',
 'దిద్దివేరభద్ర',
 'జితేంధర్',
 'టింగీర్కర్',
 'రిడా',
 'గండి',
 'విక్టర్\u200cపాల్',
 'సఫియూల్',
 'యేశాల',
 'నవీన్\u200cకాంత్',
 'సుతేజ్',
 'సగేలా',
 'దర్గమ్మ',
 'రామచద్ర',
 'తాతిరెడ్డి',
 'ధర్మేంద్రరెడ్డి',
 'త్రిపురమటేశ్వరుడు',
 'బాపూజీ',
 'వెంకయ్యబాబు',
 'ఏవేలీనా',
 'మెయిల్',
 'దమ్మాల',
 'సోనముత్తు',
 'వెంకటరామారావు',
 'అజయాకృష్ణ',
 'పద్మావతమ్మ',
 'హవాజ్',
 'శ్రీనాధౌ',
 'మల్లోర్కర్',
 'నందిని',
 'షేబన',
 'దేవరాజం',
 'చెంచమ్మ',
 'తిలకం',
 'ఖాబిశ',
 'అలోక్',
 'ఔనసూయమ్మ',
 'హనమంతుడు',
 'మైత్రి',
 'ఘాసిరామ్',
 'మొర్రీ',
 'ఖాజవఅలి',
 'రాహుల్',
 'మనో',
 'ప్రేంసుందరరెడ్డి',
 'బాలగంగి',
 'చందారం',
 'సిరామణి',
 'హర్షౌర్ధన్',
 'సాజిదాబెగు',
 'పిట్టెల',
 'గేమ్మ',
 'కర్బాలా',
 'నీలకంఠప్ప',
 'ప్రరామోద్',
 'మహెందర్',
 'నావలే',
 'సూర్యవర్ధని',
 'రామసుబ్బయ్య',
 'యలమంద',
 'కుసుమరాజు',
 'కేసిరెడ్డి',
 'దశసాహితీ',
 'రీహానా',
 'రాంషా',
 'బ్రిజేంద్ర',
 'నగ్మా',
 'రోజా',
 'శ్రీరాంబట్ల',
 'సాధనంద్',
 'కళానిధి',
 'రామతిలకము',
 'తాహురా',
 'శిల్పా',
 'స్నేహసిస్',
 'కళ్యాణరామన్',
 'చిన్నయ',
 'లక్ష్మీసుజాత',
 'విస్తారయ్య',
 'పరబ్రహ్మం',
 'చందనస్రీ',
 'ఘజియుద్దీన్',
 'దైవ',
 'అమ్మీరున్నీసా',
 'కొండాజీ',
 'పవాణీన',
 'జెన్నీ',
 'దివహర',
 'హరిభూషణ్',
 'రిద్ధి',
 'శశిభాను',
 'అశ్లేశ్',
 'హృదఏ',
 'శిల్పక్',
 'మాణికప్ప',
 'షెషిరేఖ',
 'డా',
 'ఛోటన',
 'మహిత్',
 'సిద్ధంత్',
 'రామవతి',
 'పుష్కరుడు',
 'జువెల్',
 'రాంచెంద్ర',
 'పవిత్రమ్మ',
 'సంవిద్',
 'వెంకటస్వామి',
 'తమీమ్',
 'గరికిపాటి',
 'ఉమామహేశ్వరి',
 'నేటుర',
 'బిజ్జల',
 'బిదీషా',
 'హేమంతీ',
 'షాంషీర్',
 'నాగదుర్గ',
 'నిఖల్',
 'బజిత',
 'ఉమావాణి',
 'బాగ్వాలా',
 'ధనుంజయరెడ్డి',
 'బాజిబీ',
 'ఆదిత్',
 'హేమవంత్',
 'సాహకీల్',
 'కంచరాన',
 'స్వీట్',
 'సడగోడు',
 'రాజులయ్య',
 'ద్రుపతరావు',
 'హార్దిక్',
 'సింఘానీ',
 'లచ్చమ్మ',
 'జంగిలి',
 'ఈశ్వరమ్మ',
 'సేనయా',
 'చంద్ర్య',
 'కోటంరాజు',
 'అహూజా',
 'యుఘంధర్',
 'సృజతే',
 'నజ్మోద్దీన్',
 'రంగనాథ',
 'షీనా',
 'కుసం',
 'చిత్రమ్మ',
 'నాగుల్',
 'చెక్కపాణి',
 'కుమారి',
 'తొలిసన్నా',
 'ఆశ్రయ్',
 'ఇజ్రాయెల్',
 'యహేమియా',
 'కెమెరా',
 'రమ్మని',
 'కృష్ణసుభాకర్',
 'మురిహై',
 'స్నేహర్శీతా',
 'గుటూమ్',
 'అస్సియా',
 'సుగుణరాజ్',
 'బాలన్',
 'అతుల్మిశ్రా',
 'జమ్లయ్య',
 'వాజేడాలి',
 'బుద్ధరాజు',
 'వ్లక్ష్మమ్మ',
 'వినీత',
 'సురజ్య్',
 'షాజీద్',
 'నిహల్',
 'ఆఫ్సర్',
 'సువర్ణలక్ష్మి',
 'యసీరా',
 'నవ్యచరిత',
 'సతీఈశ',
 'దయంతి',
 'అమీనుద్దీన్',
 'సరసిజ',
 'గొల్లనరసింహ',
 'ధనేశ',
 'జెస్సీ',
 'చతుర',
 'కెరిష్మా',
 'గుర్జీత్',
 'సరళఎంబీకా',
 'ఎరుకాలయ్య',
 'ఉపినాదర',
 'ఆశిశ్',
 'శరధంబ',
 'చంద్రాదేవి',
 'నూరాఝాన',
 'సదినం',
 'పిచ్చి',
 'కుసుమాల',
 'ఖిజ్\u200cర్',
 'కౌఖిక్',
 'హవప్పా',
 'సేతుమాతి',
 'వినుతనా',
 'మీర్జాఫరూక్',
 'కాస్మి',
 'మల్లాహి',
 'వేంకటేశ్వరి',
 'సుధర్మ',
 'డీసీరుజ్',
 'ముత్యమరెడ్డి',
 'ఐశ్వర్యరాయ్',
 'శ్రీహా',
 'కల్ల',
 'అబ్రమామ',
 'సాజీద్',
 'వారిసూనీస్సా',
 'మర',
 'లోహితస',
 'సొరిఫుల',
 'ఫిరోగ',
 'శంకరప్ప',
 'మూలచంద్',
 'నందేపతి',
 'నహీ',
 'మార్టి',
 'మౌసుమి',
 'మస్తాన్',
 'మునిస్వామి',
 'పూసారాం',
 'హెమాన్',
 'రవీంద్రనాథ్',
 'అభిషిక్త్',
 'రవలీల',
 'ఉబేద్',
 'ఫణితేజ',
 'సివి',
 'సుద్దగోని',
 'సుబ్రహ్మణ్యం',
 'సయీదా',
 'షుషాంత్',
 'వెంకర్',
 'వెంకటాచారయ్య',
 'ముత్తుకూరు',
 'భూచ్చయ్య',
 'జరాణి',
 'వేదాల',
 'భీస్మీఠా',
 'సుసెల్ల',
 'శంబాయి',
 'నర్సిమ్మ',
 'రేపని',
 'నసీమునిసా',
 'షెష్గీర్',
 'రెమల్లి',
 'అశోక్\u200cకుమార్',
 'వునదనా',
 'శ్రీమయే',
 'యజ్ఞనారాయణ',
 'మునీష్',
 'మద్వి',
 'చిట్టిమాంబ',
 'బాలరెడ్డి',
 'లతికా',
 'అర్ఫియా',
 'భ్ర్గావీ',
 'మహీంద్రనాథ్',
 'తిరుమలేశ్వర',
 'కృష్ణకుమరి',
 'పోలిరాజు',
 'దేవిపూజ',
 'వాధిరాజు',
 'రుక్సానుద్దీన్',
 'వినీత్\u200cకుమార్',
 'యగేష్',
 'రాధాబాయి',
 'వసీనధర',
 'హృషికేశ్',
 'రొహిణి',
 'స్నేహరిక',
 'భూలీ',
 'త్రిమిత',
 'అక్కమ్మ',
 'మనేకర్',
 'అన్జులు',
 'శ్రీకావ్య',
 'మాదాసు',
 'అలెక్సిస్',
 'కనమల',
 'మల్లేషం',
 'ఖలీకుజ్జామన్',
 'బాదేరున్నీసా',
 'నల్లచెట్టి',
 'స్మితవ్వ',
 'యలకంటి',
 'విజయ్\u200cసారథి',
 'జోగీశ్వరి',
 'కృష్ణవంశీ',
 'ఇమ్దాద్',
 'శివనూరి',
 'వినరసింహ',
 'హరివెంకట్',
 'సార్త్',
 'రామజాన్',
 'హతీజ్',
 'అంకరాజు',
 'సాయివీక్షిత్',
 'డిండి',
 'అషరీఫ్',
 'గాడేసునీత',
 'కిచ్చా',
 'రాఫెల్',
 'మణిరంజిత',
 'విద్యాపతి',
 'అఫ్షియా',
 'శింహాద్రి',
 'మొయిజ్',
 'విష్ణుకాంతం',
 'ముజఫర్',
 'రియారావుజైన్',
 'ఆషిక్యిల్',
 'దీపాదేవి',
 'వీరాఞిన్',
 'మధుశేఖర్',
 'చంద్రమ్మ',
 'హ్గ్నదవి',
 'నల్లపరాజు',
 'బజ్జ',
 'భూయ్యాల',
 'సుడులమాని',
 'జయత్ర',
 'హస్మత్',
 'అనురాగ్',
 'బీమ్',
 'జమ్మూ',
 'రస్నాక్షితా',
 'ఉధారి',
 'అతుల్',
 'చేన్నమొనీ',
 'సిధు',
 'అజస్',
 'ఐశాన',
 'మైకా',
 'అంజుమ్మ',
 'సింగరచరుయులు',
 'నాంబి',
 'రామవర్జుల',
 'ఫౌరియా',
 'లక్ష్మణస్వామి',
 'కొమరెల్లి',
 'అఫ్రీద్',
 'చిన్ని',
 'సాంబరాజ్',
 'రాంతేజ',
 'మణేమ్మ',
 'ఫరాజుద్దీన్',
 'మూర్తజ',
 'నబరియా',
 'వెంకటి',
 'సుధాకరయ్య',
 'మంజులారెడ్డి',
 'బాలనాగి',
 'మల్లికాంబ',
 'ప్రియారాణి',
 'అర్జన్\u200cభాయ్',
 'నిక్కత్',
 'స్నేహిత్',
 'పూలమ్మ',
 'బిసున్డేవ',
 'వింతశ్రీ',
 'కిలంబి',
 'సుమీల',
 'వేణు',
 'జోత్స్నా',
 'జవీదా',
 'మనీదర్',
 'చిన్నపెంటయ్య',
 'కోమల్ల',
 'భన్య',
 'వీరజ',
 'మీరయ్య',
 'సుడీక్షా',
 'శ్రివితీ',
 'విప్రజా',
 'రుతికేష్',
 'హేమాదేవి',
 'నిసార్',
 'గాలమ్మా',
 'యుగుందర్',
 'యస్వంతి',
 'చింతల్',
 'గాలిబ్',
 'స్టెఫి',
 'శ్రీపదరావ',
 'సైసాగర్',
 'ఆర్యపతి',
 'సమరసింహ',
 'దిప్టిసాగర్',
 'సోమాల్',
 'క్లింటన్',
 'సరోజనిదాసు',
 'రామానుజన్',
 'రాజారామ్మోహనరావు',
 'చందన్',
 'కులకర్ణి',
 'ముజకరూదదీన',
 'చాలకాణీ',
 'రములు',
 'నాగలీల',
 'జోహెద',
 'వెంకట్రామయ్య',
 'మాదీరెడ్డి',
 'పరకాల',
 'వీరమాణి',
 'భానుప్రతాప్',
 'మధుబాబు',
 'దుగ్గరాజు',
 'రామ్ప్రిత',
 'షాజు',
 'హఫీజ్',
 'క్రీమ',
 'సీలారానీ',
 'మేహౌన్నిసా',
 'వ్రూఠీకా',
 'రహమ్తుల్లా',
 'సూర్యనన',
 'కలీమ',
 'అనఘా',
 'గిర్ధావర్',
 'సజ్జన్',
 'సుబ్ద్ర',
 'చీరుహాస',
 'ముఖలింగం',
 'సీను',
 'భావసింగ్',
 'కృష్ణచైతన్య',
 'పద్మలత',
 'కీర్తిజ',
 'కాసట్',
 'ద్రోణుడు',
 'హాహరిత',
 'మణికంఠనాగేంద్ర',
 'వినోద్భాయ్',
 'మాణిక్\u200cప్రసాద్',
 'తేజోవతి',
 'సిరియాల',
 'హరిపురి',
 'భ్రమరాంబిక',
 'సాయినివేష్',
 'నిశాదుళ్ల',
 'గోపాలకిర్శ్ణ',
 'అకిత',
 'బ్రామరమ్మా',
 'అమలతేజ',
 'బర్కత్\u200cఉల్లా',
 'శ్రిసాఈనాథ',
 'అశోకన్',
 'బ్రిజేష్',
 'సాబ్',
 'నిమ్మరాజు',
 'బుగ్గస్వామి',
 'హీలమ్మ',
 'సేన్ధరమ్',
 'వీరూ',
 'వంకటరత్నం',
 'మాలాగా',
 'సీతారా',
 'కుతుబుద్దీన్',
 'లిపు',
 'మైనబోయిన',
 'మారెడ్డి',
 'జైకిరంకాయ్',
 'వెంకటపాడు',
 'బాద్షా',
 'ఆర్తి',
 'షాహాజాది',
 'శ్రీవెన్',
 'హనీత్',
 'మనరం',
 'భాలామణి',
 'బెనోద',
 'చబ్డరా',
 'సుబ్బలక్ష్మి',
 'సర్దార్నీ',
 'వేపక్కోమా',
 'మానిక్కమ్మ',
 'గాడిమాన్',
 'వంశీదర్రెడ్డి',
 'రాఘవందర్',
 'ఉధ్య',
 'సుకంటి',
 'యజ్ఞపతి',
 'హవల్గి',
 'నిఖతున్నీసా',
 'నాగపాణీన్దరా',
 'లవకుమారి',
 'అసీఫ్',
 'హరిజ్',
 'శివనికార్',
 'ముత్యాల్',
 'జయానందన్',
 'సరస్వతి',
 'శ్రీదుర్గా',
 'మణీపత్లా',
 'శివారెడ్డిపెటా',
 'మణిశరణ్య',
 'సాధ్విక',
 'జయ్తి',
 'వెంక్స్న్న',
 'ఫాజియాబేగం',
 'త్రిషామహి',
 'నజీ',
 'జహానా',
 'బాయికాడి',
 'కంకవ్వ',
 'సుమధుర్',
 'రాజమమథా',
 'సంగమ్మ',
 'సునృత',
 'మాల్తుమ్మెడ్',
 'సియారామ్',
 'విజయ్',
 'షెన్కీ',
 'శివాదాన్',
 'లక్ష్మీనరసయ్య',
 'హనుమతి',
 'సకరఅమాన్',
 'విధిశా',
 'కోటేశ్వరుడు',
 'కళవ్తి',
 'సైదు',
 'శ్రీవర్ధిని',
 'మహిరున్నిస',
 'మోసిన్',
 'కామశివర్య',
 'గుల్షాద్',
 'జఇనిల్',
 'అమృతలాల్',
 'రామత్వార్',
 'శ్రీకాశ',
 'ఇస్కాండర్',
 'రంగనాయకమ్మ',
 'సుభాశిష్',
 'అకుల',
 'మాంకరే',
 'జువారియా',
 'అంకంరావు',
 'నరేందర్\u200cజి',
 'మీరాజుద్దీన్',
 'పొన్నమ్మ',
 'తుల్జయ్య',
 'చిననాగరాజు',
 'జన్నథ్',
 'నాహన్ను',
 'సుబహనా',
 'హరిబాబురెడ్డి',
 'శ్రీకాన్',
 'మహాలక్షీ',
 'లోహిత్య',
 'దేబేశ',
 'అక్కమహా',
 'అక్షింత',
 'దేవిశ్రీ',
 'అప్పలరాజు',
 'సాయిమనోహర్',
 'మౌల్లా',
 'ఇనపకుతిక',
 'సతిష్రెడి',
 'శ్రీవెని',
 'రాజగోపాలరావు',
 'తులసీదేవి',
 'లోకేస్వర్',
 'సైకెర్టి',
 'హెనా',
 'బజానంధన',
 'ముస్తయ్య',
 'జుమాని',
 'జట్ప్రోల్',
 'కెలావత్',
 'ఇమ్రోజుద్దీన్',
 'శివపురం',
 'శివసైవర్ధన్రెడ్డి',
 'కిరణ్మయి',
 'మస్తానయ్య',
 'నాగేంద్రం',
 'కృష్టయ్య',
 'అష్రాఫున్నీసా',
 'కిశితైయ్యా',
 'అబ్దులజీజ్',
 'దేవిదాస్',
 'జగన్నధం',
 'జగదేశ్వరాచారి',
 'అవంతిక',
 'సజజలభటి',
 'భానుజ',
 'ఫణిదత్',
 'నదీముద్దీన్',
 'శివంగి',
 'బిసావిత్రి',
 'ముక్కావర్',
 'అంబియా',
 'కమయని',
 'నాయని',
 'హల్వి',
 'పరిటా',
 'వరికుప్పల',
 'కశెం',
 'లాఉడియా',
 'నాగశివచైతన్య',
 'హుసన్',
 'రాంతీర్',
 'రమేశ్వర్లాల్',
 'మాదాస్',
 'సాఈనాఠ్రేద్దీ',
 'సుధాశనా',
 'దూరజ్యొ',
 'అయోడ్ఢ్య',
 'శ్రీవేంద్ర',
 'సాయిభ',
 'విజయం',
 'శార్వాణి',
 'సుబ్బరాయ',
 'ఔసెఫ్',
 'కలాణీ',
 'అమ్మో',
 'సుధావని',
 'శ్యామలదేవి',
 'ముష్యం',
 'మొరాజ్',
 'బాకీ',
 'ప్రసంజనేయులు',
 'నరేంద్రకుమార్',
 'ఘంటసాల',
 'గేవ్దేవ్',
 'దొంతి',
 'సోనీ',
 'షైలాజ్',
 'మురద్వీష్',
 'నీల్కాంత్',
 'సుషీన్',
 'చాముండేశ్వరి',
 'ఉమాశెషు',
 'తిర్తా',
 'ఫకీరప్ప',
 'నైనాలా',
 'అలీనా',
 'ముతేహేర',
 'షోమ్',
 'రామసుబ్బారావు',
 'ఖలీడస్',
 'జయశాలిని',
 'సబానా',
 'బగత్',
 'మేహశేర',
 'సన్నీ',
 'భువనేశ్వరి',
 'లాడేసాబ్',
 'మన్హా',
 'హర్చనా',
 'కరుణల',
 'అతారొలూ',
 'పోచమల్లు',
 'సధి',
 'తాహ్ర',
 'మత్యరాజ్',
 'కేశదాసు',
 'సుదేష్ణ',
 'అయాన్',
 'వెంకటేశ్వర',
 'ధారిత',
 'షఫాక్',
 'యాధిగిరి',
 'ఫర్విన్',
 'ఏక్తా',
 'మాచారయ్య',
 'బోవోరమ్మ',
 'ఫాహిముద్దీన్',
 'సోఫీ',
 'నాగినీ',
 'చందురామ్',
 'ఆర్మేన్',
 'శహేదా',
 'భ్గావన',
 'భీమశంకరుడు',
 'రాగిరు',
 'హజారాబీ',
 'ఒలిగిరయ్య',
 'అమ్బవ్వ',
 'ధరహాస',
 'సుధామోహన్',
 'శ్రుతకీర్తి',
 'అస్లం',
 'సురేఖరాణి',
 'మమ్జుల',
 'అజాంబేర్',
 'అలకురిై',
 'మత్తయ్య',
 'కమలకేర్',
 'శ్రీణి',
 'అమ్ర్వత',
 'హుస్సేయన్',
 'జన్నపురెడ్డి',
 'కొర్లన్కైయా',
 'రాఘవేంద్ర',
 'లైక్',
 'సాంబు',
 'సురకాల',
 'లగ్గిశెట్టి',
 'ఇర్శాడుల్ల',
 'సన్బయా',
 'సుమనలత',
 'చలమయ్యా',
 'జాబీనబేగమ',
 'అనంత్',
 'అర్జున్\u200cబాబు',
 'సుజన్',
 'మునేస్వర',
 'సరన',
 'సంతోష్కుమారి',
 'సంధ్య',
 'మాగ్డలీనా',
 'ప్రశాంతో',
 'హరీవిష్ణు',
 'జగన్నాథరావు',
 'సామ్ని',
 'సరితజ్యోతి',
 'విశ్వనాధన్',
 'మాలతి',
 'షానూర్',
 'రామకృష్ణమ్మ',
 'కళా',
 'పల్లి',
 'మంగేజ్',
 'ధనమ్య్నా',
 'అమీరుద్దీన్',
 'కనకల్',
 'కోదండరామయ్య',
 'హాజిమ్',
 'గచంద్రకళ',
 'సంజీవరాణి',
 'జానామ్మ',
 'దత్తసాయి',
 'షమంతకమణి',
 'ముషమ్',
 'షాలియెండర్',
 'సేతవరమ్మ',
 'బసవమ్మ',
 'మధులాల్',
 'వీరందర్',
 'మాలిపటేల్',
 'మది',
 'ముత్తవి',
 'పార్వతయ్య',
 'సత్యవిశాలి',
 'మిథ్రాయి',
 'షాండ్యా',
 'సర్దారీనీ',
 'నహీదా',
 'లాచైహ్',
 'పండరయ్య',
 'ప్రోసెంగిబ్',
 'అమల్',
 'సుహీశా',
 'ఖుష్నుం',
 'ఎరా',
 'రాణెమ్మ',
 'గబ్బులాల్',
 'సిన్నపన్',
 'కలిద్',
 'సైరితిక్',
 'మేఘరాజు',
 'కాలెమ్మ',
 'బివాస',
 'ఈసౌమ్య',
 'కాండీ',
 'యాకోబే',
 'మైథారి',
 'రమావాణి',
 'బిరాంచి',
 'కుశల',
 'కాన్సా',
 'నవనాథ్',
 'రామలింగమ్మ',
 'నిర్మల్',
 'శ్రీలతా',
 'కుమ్క్రున్నీసా',
 'నీడన్నిసా',
 'మైసైయన్',
 'అబ్జల్',
 'బిక్షం',
 'సన్కర్ఠనా',
 'గంగడ',
 'గ్రేసిలిడియా',
 'జహీద్',
 'మౌనిక',
 'ప్రముఖ',
 'జాస్తి',
 'బసవంత్',
 'సుకుమారి',
 'పాండవు',
 'ఎస్తారీ',
 'శ్రీలిఖిత',
 'జీవరత్నం',
 'లక్మికంతమ్మ',
 'అబుజేర్',
 'సిరాజాలి',
 'తాజునిసా',
 'పర్మా',
 'కరుణానందరెడ్డి',
 'వజ్రాలు',
 'వాసవి',
 'సిబసంకర్',
 'శ్రీబిందూ',
 'సువాసిని',
 'జిక్రా',
 'గోగరాజు',
 'గణశ్రీను',
 'జాహిరుద్దీన్',
 'అభిక్ష',
 'పార్వతీభి',
 'వీరనారాయానారెడ్డి',
 'మేహమూబ్',
 'మహేందేర',
 'మెహిపాల్',
 'సాందియా',
 'సాయితి',
 'కేశని',
 'బాలసుందర్',
 'అనుజశ్రీ',
 'కాజల్',
 'యోహాను',
 'సేమ్ప్రీథా',
 'వందనాదేవి',
 'శామ్సుషీల్',
 'బూచివీరైయా',
 'అంజున్నిసా',
 'హన్మ్య',
 'రేమా',
 'జానయ్య',
 'నిథిల్',
 'ఓంసాయి',
 'ఖుతైజా',
 'ఇడా',
 'ప్రవరధన',
 'సైలాస్రీ',
 'సుగ్నమ్మ',
 'కమలకర',
 'శ్రీనివాసుళు',
 'పరమకుశం',
 'రహీమోద్దీన్',
 'బింధు',
 'గైనేశ్వర్',
 'వరేశ్',
 'ముతాటి',
 'మావియా',
 'గురుజానీ',
 'కీర్తన్',
 'ఇలయారాజ',
 'శివాచెటన్',
 'సుగుణావత్',
 'ప్రసన',
 'రూత్',
 'ఆహాస',
 'జాజు',
 'రాచ',
 'సంవేల్',
 'అజితాబ్',
 'పుష్పవతి',
 'రంగమణి',
 'చూడామణి',
 'సజ్జద్',
 'ఆకర్ష',
 'జైబ',
 'హైమడ',
 'ఫహద్',
 'అఫ్జియా',
 'చిన్నక్క',
 'రిబుక',
 'నాగశైలజ',
 'కాశీవిశ్వనాథ్',
 'ఆయ్షా',
 'సుష్మిత',
 'రేణుఖ',
 'ఉస్సెన్',
 'యాడ',
 'నాగూరయ్య',
 'ఏదవల్లి',
 'సదాదిన్',
 'రీజూల్లా',
 'లోసారి',
 'సుకరాజ్\u200cయం',
 'గౌటీ',
 'భీమరాజు',
 'సెల్వనాయకం',
 'రాతన',
 'అజ్మీరి',
 'అమీర్',
 'అనుమకుమార్',
 'సంధియగు',
 'కిస్తంపల్లి',
 'అమరాం',
 'నృసింహాద్రి',
 'సంపూర్ణమ్మ',
 'శ్రిహిత',
 'సత్కా',
 'బాలసుబ్రహ్మణ్యం',
 'షకర్\u200cగౌడ్',
 'వరయోగి',
 'జహిర్',
 'స్వర్గం',
 'భన్వారారం',
 'సూరా',
 ...}

In [23]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [24]:
Final_data.head()

               Name  Mobile Number
0          B మాణేమ్మ    9912460335
1            B సుజాత    9866114631
2          B.రాణేమ్మ    9666591190
3   Baikadi veeramma    6439743689
4  Bondili arthi bai    9948537228

In [25]:
Final_data.columns

Index(['Name ', 'Mobile Number'], dtype='object')

In [26]:
import pandas as pd

# Assuming you have loaded the DataFrames df and unique_df as mentioned in your code

# Convert the unique names to a set for faster lookups
first_names_set = unique_names_set


# Function to extract first names using sets
def extract_first_name(name, first_names_set):
    words = name.split()
    for word in words:
        if word in first_names_set:
            return word
    return None  # Return None if no match is found

# Applying the function to create the 'first_name' column
Final_data['first_name_Telugu'] = Final_data['Name '].apply(lambda x: extract_first_name(x, first_names_set))

In [27]:
Final_data.head(50)

                   Name  Mobile Number first_name_Telugu
0              B మాణేమ్మ    9912460335              None
1                B సుజాత    9866114631             సుజాత
2              B.రాణేమ్మ    9666591190              None
3       Baikadi veeramma    6439743689              None
4      Bondili arthi bai    9948537228              None
5              Ch శివయ్య    9490969971            శివయ్య
6          G యాది రెడ్డి    9848224651              యాది
7      G రాజశేఖర్ రెడ్డి    9866052111          రాజశేఖర్
8              J v చౌదరి    9154337137             చౌదరి
9      Jampareedy geetha    9030717385              None
10             K. శరణయ్య    9441204039              None
11           K.కృష్ణవేణి    9618132221              None
12        Md అమీరుద్దీన్    7354088686       అమీరుద్దీన్
13               N. విమల    8106231452              విమల
14                U రాజు    9963436847              రాజు
15             V మల్లేశం    9505033676           మల్లేశం
16             V లలితమ్మ    9505591484           లలితమ్మ
17                అంజమ్మ    9666631008            అంజమ్మ
18                అంజమ్మ    9502335371            అంజమ్మ
19                అంజయ్య    9885037474            అంజయ్య
20                అంజయ్య    9573570395            అంజయ్య
21                అంజయ్య    9177947113            అంజయ్య
22             అనంత కవిత    9391024730              అనంత
23              అనంత రాం    9010998204              అనంత
24         అభిషేక్ గవ్వల    9652413821           అభిషేక్
25        అవుటి ప్రభాకర్    9032888182          ప్రభాకర్
26  ఇందుకూరి రఘునాథ రాజు    9963022229            రఘునాథ
27     ఇనగంటి వేద కుమారి    9032446675            కుమారి
28          ఈ రవి కుమార్    9908306575               రవి
29          ఈ శివ కుమార్    9908306575               శివ
30      ఈదులపల్లి జైపాల్    7036438641            జైపాల్
31        ఈదులపల్లి రజిత    9133153291              రజిత
32        ఈదులపల్లీ రాజు    9989060654              రాజు
33    ఈదుల్లపల్లీ  సతీష్    9951618924             సతీష్
34   ఈదుల్లపల్లి శ్రీమతి    9989060654           శ్రీమతి
35                 ఈరప్ప    9618132221             ఈరప్ప
36                 ఈరయ్య    9963870396             ఈరయ్య
37              ఈశ్వరయ్య    9948435939          ఈశ్వరయ్య
38               ఎ మంజుల    9490096706             మంజుల
39         ఎ సూర్య కాంత్    9246524501             సూర్య
40             ఎం వీరన్న    9494981630            వీరన్న
41      ఎగమామిడి యాదగిరి    9989219068           యాదగిరి
42     ఎన్. క్రిష్ణ వేణి    9346493764           క్రిష్ణ
43               ఎల్లమ్మ    9908584715           ఎల్లమ్మ
44           ఎస్ పుష్పలత    8977552344               ఎస్
45    ఎస్ స్రుజన్ కుమార్    9885639308               ఎస్
46       ఏమడీ జైనుద్దీన్    9502594095        జైనుద్దీన్
47               కె కవిత    9000114687              కవిత
48     కె మహీందర్ రెడ్డి    7842262261           మహీందర్
49             కె వీరేశం    8688809129            వీరేశం

In [29]:
Final_data['first_name_Telugu'].isnull().sum()

19019

In [34]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [35]:
# Create a dictionary mapping English names to Telugu names
name_mapping = uniq_df.set_index('Telugu_unique_names')['Unqiue_names'].to_dict()

In [36]:
name_mapping

{'హ్రుశీకేశ్వర': 'hrushikeswar',
 'హ్రుదై': 'hrudai',
 'హ్రుతిక': 'hruthika',
 'హ్రిత్విక్': 'hrithvik',
 'హ్రితు': 'hritu',
 'హ్రితిక్': 'hrithik',
 'హ్రితికేష్': 'hrithikesh',
 'హ్రితబన్': 'hritaban',
 'హ్యూమర్': 'humer',
 'హ్యారీ': 'harry',
 'హ్యాండే': 'handay',
 'హ్యాండికి': 'handiqui',
 'హ్యమవతి': 'hyamavathi',
 'హ్యచింత్': 'hyachinth',
 'హ్యగ్రీవ': 'hyagreeva',
 'హ్యంధవి': 'hyandhavi',
 'హ్మీమ': 'hemima',
 'హ్మిరారాం': 'hamiraram',
 'హ్ప్కిబ': 'hepciba',
 'హ్నీఫ్': 'hanief',
 'హ్నమంతుడు': 'hnamanthu',
 'హ్జ్రతారనుం': 'hzrataranum',
 'హ్గ్నదవి': 'hgndavi',
 'హౌస్': 'haus',
 'హోహిత': 'hohith',
 'హోస్సైన్': 'hosen',
 'హోసున్': 'hosun',
 'హోసియా': 'hosea',
 'హోసానా': 'hosanna',
 'హోష్మా': 'hoshma',
 'హోవర్': 'hover',
 'హోల్లా': 'holla',
 'హోర్': 'hoore',
 'హోయిజల్': 'hoizal',
 'హోమ్': 'hom',
 'హోమినీ': 'homini',
 'హోమి': 'homi',
 'హోమశ్రీ': 'homasri',
 'హోమకేష్': 'homakesh',
 'హోమం': 'homa',
 'హోన్యా': 'honya',
 'హోన్నా': 'honna',
 'హోనప్ప': 'honappa',
 'హోడ': 'hoda',
 'హోజారాహెమ్జామిజోరం': 'hojarahemjamizoram',
 'హోక్': 'hoque',
 'హొషాంగ్': 'katy',
 'హొన్నెమనే': 'honnemane',
 'హొన్నెకేరీ': 'honnekery',
 'హొన్నావర్': 'honnavar',
 'హొఠ్నికా': 'hothnika',
 'హైసింత్': 'hycinth',
 'హైవేర్': 'hiware',
 'హైరాదేవీ': 'hairadevi',
 'హైమెండర్': 'hymender',
 'హైమీద్': 'hymed',
 'హైమావత్': 'hymavath',
 'హైమావతి': 'hymawathi',
 'హైమావతమ్మ': 'hymavathamma',
 'హైమారావు': 'hymarao',
 'హైమాదేవి': 'hymadevi',
 'హైమా': 'hyma',
 'హైమవైహి': 'hymavayhi',
 'హైమవతి': 'haimvathi',
 'హైమవంతి': 'hymavanthi',
 'హైమద్': 'haimad',
 'హైమద': 'haymed',
 'హైమత్పాషా': 'hymathpasha',
 'హైమత్': 'haimath',
 'హైమతి': 'hymathi',
 'హైమడ': 'hymada',
 'హైమకుమారి': 'hymakumari',
 'హైమ': 'haima',
 'హైబాత్': 'haibath',
 'హైబతి': 'haibathi',
 'హైప్పీ': 'happy',
 'హైదవి': 'hydavi',
 'హైదర్ఖాన్': 'hyderkhan',
 'హైదర్': 'hyder',
 'హైదరుద్దీన్': 'hyderuddin',
 'హైదరాలీ': 'haiderali',
 'హైదరాలి': 'hyderali',
 'హైతన్యా': 'haitanya',
 'హైగ్రీవ్': 'hygreev',
 'హైగ్రీవా': 'haigreeva',
 'హైంధవి': 'hyndhavi',
 'హైందావీ': 'haindavi',
 'హైందవి': 'hyndavi',
 'హేసాబుదిన': 'hesabudin',
 'హేశ్వంత్': 'heshwanth',
 'హేశామ': 'hesham',
 'హేవమ్మ': 'hevamma',
 'హేవంతి': 'hevanti',
 'హేల': 'hela',
 'హేరూర': 'heroor',
 'హేరు': 'heru',
 'హేరల': 'heral',
 'హేరం': 'heram',
 'హేమ్ని': 'hemni',
 'హేమ్\u200cనాని': 'hemnani',
 'హేమ్చంద్ర్': 'hemchander',
 'హేమ్చంద్': 'hemchand',
 'హేమ్': 'hem',
 'హేమొన్థ': 'hemonth',
 'హేమేంద్ర': 'hemendra',
 'హేమెన్': 'hemen',
 'హేమెందర్': 'hemender',
 'హేము': 'hemu',
 'హేమీమా': 'hemeema',
 'హేమీ': 'hemi',
 'హేమిష్': 'hemish',
 'హేమిని': 'hemini',
 'హేమినా': 'hemina',
 'హేమావాణీ': 'hemavani',
 'హేమావతి': 'hemavathi',
 'హేమాల్': 'hemal',
 'హేమాలీంగేశ్వర': 'hemalingeswar',
 'హేమాలి': 'hemali',
 'హేమారావు': 'hemarao',
 'హేమారం': 'hemaram',
 'హేమానుషా': 'hemanusha',
 'హేమాని': 'hemani',
 'హేమాద్రి': 'hemadri',
 'హేమాదేవి': 'hemadevi',
 'హేమాంబర్': 'hemamber',
 'హేమాంబరధరరావు': 'hemambaradhararao',
 'హేమాంగ్': 'hemang',
 'హేమాంక': 'hemanka',
 'హేమా': 'hayma',
 'హేమస్యామా': 'hemasyama',
 'హేమసుధ': 'hemasudha',
 'హేమసుంధర': 'hemasundhara',
 'హేమసుందర్': 'hemasunder',
 'హేమసుందర': 'hemasundara',
 'హేమసాయి': 'hemasai',
 'హేమశ్రీ': 'hemasri',
 'హేమవెంకట': 'hemavenkata',
 'హేమవీర': 'hemaveera',
 'హేమవంత్': 'heamavanth',
 'హేమలాల': 'hemlal',
 'హేమలలత': 'hemalalatha',
 'హేమలతాదేవి': 'hemalthadevi',
 'హేమలతా': 'hemlata',
 'హేమలతనాయుడు': 'hemalathanaidu',
 'హేమలత': 'hemlatha',
 'హేమలక్ష్మి': 'hemalakshmi',
 'హేమలంబ': 'hemalamba',
 'హేమరూప': 'hemaroopa',
 'హేమరాణి': 'hemarani',
 'హేమరాజ్': 'hemraj',
 'హేమయు': 'hemayu',
 'హేమమాలిని': 'hemamalini',
 'హేమమాలిక': 'hemamalika',
 'హేమబిందు': 'hemabindu',
 'హేమబాల': 'hemabala',
 'హేమప్రియా': 'hemapiriya',
 'హేమన్శ': 'hemansh',
 'హేమనాధ్': 'hemanadh',
 'హేమనాథ్': 'hemanath',
 'హేమనకర': 'heamanker',
 'హేమదుర్గ': 'hemadurga',
 'హేమత్': 'hemath',
 'హేమణేష్': 'hemanesh',
 'హేమచంద్ర': 'hemachandra',
 'హేమచందర్': 'hemchandar',
 'హేమకుమార్': 'hemkumar',
 'హేమకుమారి': 'hemakumari',
 'హేమకిరణ్': 'hemakiran',
 'హేమఎంబీకా': 'hemambika',
 'హేమంత్\u200cసాయి': 'hemanthsai',
 'హేమంత్న్': 'hemanthn',
 'హేమంత్': 'hemanthh',
 'హేమంతీ': 'hemanti',
 'హేమంతి': 'hemanthi',
 'హేమంతరెడ్డి': 'hemanthareddy',
 'హేమంతకుమార్': 'hemanthkumar',
 'హేమంత': 'hemantha',
 'హేమంటొ': 'hemanto',
 'హేమంగినీ': 'hemangini',
 'హేమంగి': 'hemangi',
 'హేమ': 'hema',
 'హేబ్శేబా': 'hebsheba',
 'హేబీబూదదీన': 'hebeebuddin',
 'హేబా': 'heba',
 'హేప్సీ': 'hepsi',
 'హేపీసీబా': 'hepseeba',
 'హేపీజిబహ్': 'hepzibah',
 'హేన్మూలా': 'henmula',
 'హేన్మాబాఈ': 'hanmabai',
 'హేన్మయ్య': 'henmaiah',
 'హేన్నా': 'henna',
 'హేనాల్': 'henal',
 'హేనాకౌసర్': 'henakauser',
 'హేతల్': 'hetal',
 'హేతరామ': 'hetram',
 'హేజిరాబీ': 'hazirabee',
 'హేచు': 'hechu',
 'హేగ్': 'hague',
 'హేకాశ': 'heakash',
 'హెస్సింగ్': 'hessing',
 'హెల్మ్': 'helma',
 'హెలెన్': 'helen',
 'హెలీనా': 'helina',
 'హెలిమా': 'helima',
 'హెలినా': 'helena',
 'హెర్ల్హోయిహ్క్': 'herlhoihc',
 'హెర్మిలా': 'hermila',
 'హెర్బర్ట్': 'herbert',
 'హెరైడ్': 'heraid',
 'హెరెకర్': 'herekar',
 'హెరాల్డ్': 'harold',
 'హెమ్బజమ్మ': 'hemabjamma',
 'హెమాన్': 'heman',
 'హెమవతి': 'hemavati',
 'హెమలత': 'hemalath',
 'హెబ్సిభ': 'hebsibha',
 'హెబ్లీ': 'hebbly',
 'హెబ్రోన్': 'hebron',
 'హెబ్రాహిం': 'hebrahim',
 'హెబ్బార్': 'hebbar',
 'హెబ్బాత్': 'hebbath',
 'హెబ్బటం': 'hebbatam',
 'హెబ్నేజర్': 'hebnezer',
 'హెఫ్సిబా': 'hephsiba',
 'హెఫ్జిభా': 'hephzibha',
 'హెఫ్జిబ': 'hephzibah',
 'హెఫ్': 'heph',
 'హెప్సీబా': 'hepsyba',
 'హెప్సీ': 'hepcy',
 'హెప్సిభా': 'hepsibha',
 'హెప్సిబా': 'hepsibah',
 'హెప్సిబ': 'hepsiba',
 'హెపైభా': 'hepaibha',
 'హెపిస్బా': 'hepisba',
 'హెన్రీజస్టిన్': 'henryjustin',
 'హెన్రీ': 'henry',
 'హెన్రిఎత్తా': 'henrietta',
 'హెనా': 'hena',
 'హెదౌ': 'hedau',
 'హెత': 'heta',
 'హెడ': 'heda',
 'హెట్': 'het',
 'హెటల్': 'hethal',
 'హెజీబు': 'hejeebu',
 'హెచ్': 'poonamdevi',
 'హెండేవార్': 'hendewar',
 'హెంఇలిన్': 'heamilin',
 'హృసికేశ్': 'hrusikesh',
 'హృషీకేష్': 'hrushikesh',
 'హృషితా': 'hrishita',
 'హృషిత': 'hrushitha',
 'హృషికేస': 'hrushikesa',
 'హృషికేశ్': 'hrishikesh',
 'హృషికా': 'hrushika',
 'హృషిక': 'hrishika',
 'హృషి': 'hrushi',
 'హృల్లేఖ': 'hrullekha',
 'హృదయ్': 'hrudhay',
 'హృదయా': 'hrudhaya',
 'హృదయరాజు': 'hrudayaraju',
 'హృదయబాబు': 'hrudaybabu',
 'హృదయ': 'hrudaya',
 'హృదఏ': 'hrde',
 'హృత్విక్': 'hruthivk',
 'హృతేష్': 'hritesh',
 'హృతిష్': 'hritish',
 'హృతిక్': 'hrutik',
 'హృతిక': 'hrithika',
 'హూస్సీన్బీ': 'hussinbi',
 'హూస్మన': 'husman',
 'హూసైనమ్మ': 'hussainama',
 'హూసమూఖ': 'husmukh',
 'హూవమ్మా': 'hoovamma',
 'హూవగర్': 'hoovagar',
 'హూర్ఫరియాల్': 'hoorfariyal',
 'హూర్': 'hoor',
 'హూరీన్': 'hooreen',
 'హూరియా': 'hooriya',
 'హూరమట': 'hurmat',
 'హూరబానూ': 'hoorbanu',
 'హూన్': 'hoon',
 'హూజేఫ్': 'hujef',
 'హూగవ': 'hoogav',
 'హూగర్': 'hoogar',
 'హుస్స్డ్న్': 'hussdan',
 'హుస్సైనయ్య': 'hussaina',
 'హుస్సేయన్': 'hussaian',
 'హుస్సేన్సాబ్': 'hussainsab',
 'హుస్సేన్బీ': 'hussainbi',
 'హుస్సేన్': 'huusain',
 'హుస్సేనిఖాద్రి': 'hussainiquadri',
 'హుస్సేని': 'husseni',
 'హుస్సేనయ్య': 'hussainaiah',
 'హుస్సేనప్ప': 'hussainappa',
 'హుస్సుఎన్': 'hussuen',
 'హుస్సియన్': 'hussian',
 'హుస్సిన్': 'hussin',
 'హుస్సాయి': 'hussai',
 'హుస్సాన్': 'hussan',
 'హుస్సాంగ్రే': 'hussangre',
 'హుస్య': 'husya',
 'హుస్బాన్': 'husbaan',
 'హుస్నైన్': 'husnain',
 'హుస్నా': 'hussna',
 'హుసైన్': 'hussen',
 'హుసైని': 'husaini',
 'హుసైనమ్మ': 'hussenamma',
 'హుసేయిన్': 'husein',
 'హుసేయనమ్మ': 'huusaianamma',
 'హుసేన్': 'husen',
 'హుసేనా': 'husena',
 'హుసేనమ్మా': 'husenamma',
 'హుసేనబీ': 'husenabee',
 'హుసేనప్పా': 'husenappa',
 'హుసెంగ్': 'hosang',
 'హుసియన్': 'husian',
 'హుసాముద్దీన్': 'husamuddin',
 'హుసానప్ప': 'husanappa',
 'హుసన్': 'husan',
 'హుషైన్': 'hushain',
 'హుషేంద్ర': 'hushendra',
 'హువ్గర్': 'huvgar',
 'హులి': 'huli',
 'హులాస్': 'hulas',
 'హురైరా': 'hurairah',
 'హురూబానో': 'hoorbano',
 'హురీరా': 'hurirah',
 'హుమైరా': 'humairah',
 'హుమైర': 'humaira',
 'హుమేరియా': 'humeria',
 'హుమేరా': 'humera',
 'హుమెర': 'humeera',
 'హుమాయున్': 'humayun',
 'హుమాబేగమ': 'humabegum',
 'హుమా': 'huma',
 'హుమర': 'humara',
 'హుబెడ': 'hubeda',
 'హుఫరియా': 'hufriya',
 'హున్మంతుడు': 'hunmanthu',
 'హునుమత్': 'hunumath',
 'హునుమంత్': 'hunumanth',
 'హునిసా': 'hunisa',
 'హుని': 'huni',
 'హుద్దీన్': 'huddin',
 'హుడా': 'huda',
 'హుటాసన్': 'hutasan',
 'హుజ్మాస్': 'huzmas',
 'హుజ్మా': 'huzma',
 'హుజూర్': 'huzur',
 'హుచా': 'hucha',
 'హుకిమిచంద్': 'hukimichand',
 'హుకారేశ్వరి': 'hukareshwari',
 'హుకామరం': 'hukamaram',
 'హుకం': 'hukam',
 'హుంకా': 'hunka',
 'హీసాఈన': 'hisaian',
 'హీలమ్మ': 'heelamma',
 'హీర్యా': 'heerya',
 'హీర్డ్యా': 'hirdya',
 'హీర్': 'heer',
 'హీరోశిని': 'heroshini',
 'హీరోల': 'hirala',
 'హీరోమాన్': 'heroman',
 'హీరో': 'hero',
 'హీరేకు': 'heereku',
 'హీరేకర్': 'heerekar',
 'హీరేంద్ర': 'heerendra',
 'హీరేందర్': 'hirender',
 'హీరేంఢర': 'heerendhar',
 'హీరెకర్': 'heereker',
 'హీరాలాల్': 'hiralal',
 'హీరాలా': 'heerala',
 'హీరాల': 'heralal',
 'హీరారామ్': 'heeraram',
 'హీరామన్': 'heeraman',
 'హీరామనీ': 'heeramanee',
 'హీరామణి': 'hiramani',
 'హీరాబెన్': 'heeraben',
 'హీరానందాని': 'hiradani',
 'హీరాదేవి': 'heeradevi',
 'హీరాకర్': 'heerakar',
 'హీరా': 'hira',
 'హీరసింగ్': 'hirasingh',
 'హీరమంచియా': 'hermancia',
 'హీరబాయి': 'heerabai',
 'హీరన్': 'heeran',
 'హీమ్': 'heem',
 'హీమేద': 'hymad',
 'హీమలత': 'heemalatha',
 'హీనిజా': 'hinija',
 'హీనాబెన్': 'heenaben',
 'హీనాబాను': 'heenabanu',
 'హీనాకౌసర్': 'heenakausar',
 'హీనా': 'hina',
 'హీనశేఖరి': 'hinashekari',
 'హీనల': 'heenal',
 'హీనత్': 'heenath',
 'హీన': 'heena',
 'హీక్మట': 'hikmat',
 'హిహ్లగ్': 'hihlug',
 'హిసాముద్దీన్': 'hisamuddin',
 'హిసబుద్దిన్': 'hisabuddin',
 'హివంతసాయి': 'himwantsai',
 'హిల్డా': 'hilda',
 'హిల్టన్': 'hilton',
 'హిర్జీ': 'hirji',
 'హిరేహల': 'hirehala',
 'హిరేమత్': 'hiremath',
 'హిరేకర్': 'hirekar',
 'హిరెన్': 'hiren',
 'హిరు': 'hiru',
 'హిరాస్కర్': 'hirasker',
 'హిరావత్': 'hirawat',
 'హిరాల్': 'hiral',
 'హిరాన్': 'hiran',
 'హిరస్కర్': 'hiraskar',
 'హిరల్': 'heeral',
 'హిరన్': 'hiranmayi',
 'హిరని': 'hirani',
 'హిరణ్య': 'hiranya',
 'హిరణ్మోయ్': 'hiranmoy',
 'హిరణ్మయై': 'hiranmayai',
 'హిరణ్మయీ': 'hiranmayee',
 'హిరణ్మయి': 'hiranmai',
 'హిరంమయ్': 'hiranmaie',
 'హిమ్మాతీ': 'himmati',
 'హిమ్మథ': 'himmath',
 'హిమ్మత్': 'himmat',
 'హిమ్మంత్': 'himmanth',
 'హిమ్ఠారాం': 'himtharam',
 'హిమ్కర్': 'himkar',
 'హిమేష్కుమార్': 'himeshkumar',
 'హిమేష్': 'himesh',
 'హిమేంద్రాసాయ': 'himendrasai',
 'హిమాస్విని': 'himaswini',
 'హిమావథ': 'himavath',
 'హిమావతి': 'himavathy',
 'హిమాలయ్': 'himalay',
 'హిమాయతుల్లా': 'himayathulla',
 'హిమామ్ష్': 'himamsh',
 'హిమామున్నిసా': 'himamunnisa',
 'హిమామి': 'himami',
 'హిమాన్సు': 'himansu',
 'హిమాన్షురోయ్': 'himanshuroy',
 'హిమానిశ్': 'himanish',
 'హిమానయన్': 'himanayan',
 'హిమాద్': 'himad',
 'హిమాత్లల్': 'himathlal',
 'హిమాచల': 'himachala',
 'హిమాంస': 'himamsa',
 'హిమాంశీ': 'himamshi',
 'హిమాంబి': 'himambi',
 'హిమా': 'hima',
 'హిమసీన్ధూ': 'himasindhu',
 'హిమసిందూర': 'himasindura',
 'హిమసాయి': 'himasai',
 'హిమసాగరిక': 'himasagarika',
 'హిమశ్రీ': 'himasri',
 'హిమశైల': 'himasaila',
 'హిమవ్ర': 'himavra',
 'హిమవర్ష్': 'himavarsh',
 'హిమవర్షిత': 'himavarshitha',
 'హిమవర్షిణి': 'himavarshini',
 'హిమవర్శ': 'himavarsha',
 'హిమవర్ధన్': 'himavardhan',
 'హిమవతి': 'himavathi',
 'హిమవంత్': 'himawanth',
 'హిమవంత': 'himavanta',
 'హిమలత': 'himalatha',
 'హిమలక్ష్మి': 'himalakshmi',
 'హిమయత': 'himayath',
 'హిమయంత్': 'himayanth',
 'హిమమాధురి': 'himamadhuri',
 'హిమభిందు': 'himabhindu',
 'హిమబిందు': 'himabindu',
 'హిమబాల': 'himabala',
 'హిమప్రియా': 'himapriya',
 'హిమపావని': 'himapavani',
 'హిమన్షి': 'himanshi',
 'హిమని': 'himani',
 'హిమత్': 'hymath',
 'హిమతేజ్': 'himatej',
 'హిమతేజ': 'himateja',
 'హిమజాదేవి': 'himajadevi',
 'హిమజ': 'himaja',
 'హిమకూంతల': 'himakuntala',
 'హిమకిరీటి': 'himakireeti',
 'హిమకావ్య': 'himakavya',
 'హిమకార్': 'himakar',
 'హిమకళ్యాణి': 'himakalyani',
 'హిమంష': 'himansh',
 'హిమంత': 'himantha',
 'హిమంగ్సూ': 'himangsu',
 'హిమంగ్షు': 'himangshu',
 'హిబా': 'hiba',
 'హిప్పర్గి': 'hippargi',
 'హిదుజా': 'hiduja',
 'హిదాయత్': 'hidayath',
 'హిదాయతుల్లా': 'hidayatullah',
 'హిదయత్': 'hidayat',
 'హిథీశ': 'hithish',
 'హితేష్కుమార్': 'hiteshkumar',
 'హితేష్': 'hitesshh',
 'హితేశ్వర్': 'hitheshwar',
 'హితేంద్ర': 'hltendra',
 'హితేందర్': 'hithender',
 'హితీషిణి': 'hithishini',
 'హితీకా': 'hithika',
 'హితిశా': 'hitisha',
 'హితాన్శీ': 'hitanshi',
 'హితాంశు': 'hitanshu',
 'హితశ్రీ': 'hithasree',
 'హితప్రసన్న': 'hithaprasanna',
 'హిత': 'hitha',
 'హిట్టు': 'hittu',
 'హిటెన్': 'hiten',
 'హిగ్రీవా': 'higreeva',
 'హింధూజా': 'hindhooja',
 'హింద్': 'hind',
 'హిందూశ్రీ': 'hindhusri',
 'హిందూజా': 'hinduja',
 'హిందూ': 'hindu',
 'హిందుషా': 'hindhusha',
 'హిందువాణి': 'hinduvani',
 'హిందుమతి': 'hindumathi',
 'హిందార్': 'hindar',
 'హింగీ': 'hingey',
 'హాహరిత': 'haharitha',
 'హాస్య': 'hasya',
 'హాసెన్': 'hassen',
 'హాసీనీ': 'haasini',
 'హాసీత': 'haseeta',
 'హాసియా': 'haasiya',
 'హాసియ': 'hasiya',
 'హాసిబున్': 'hasibun',
 'హాసిన్': 'hasin',
 'హాసిని': 'hasini',
 'హాసిన': 'hasiina',
 'హాసిక': 'hasika',
 'హాసాజీ': 'hasaji',
 'హాసన్': 'haasan',
 'హాసనుజ్మాన్': 'hasanuzzaman',
 'హాసంతి': 'hasanthi',
 'హాష్\u200cముద్దీన్\u200c': 'hashmuddin',
 'హాషిమ్': 'hashim',
 'హాషిఫ్': 'hashif',
 'హాషిక': 'hashika',
 'హాశ్రిత': 'haasritha',
 'హాశిక': 'hashik',
 'హావిల': 'havila',
 'హాల్డర్': 'halder',
 'హాలెన్': 'halen',
 'హాలీమున్నీసా': 'haleemunissa',
 'హాలియా': 'haliya',
 'హాలహర్వి': 'halaharvi',
 'హార్ష్\u200cలీ': 'harshli',
 'హార్ధికా': 'hardhika',
 'హార్దిక్': 'hardik',
 'హార్తిక్': 'harthik',
 'హార్తిక': 'harthika',
 'హార్ణమ్': 'harnaam',
 'హారున్': 'haarun',
 'హారీత్': 'harrit',
 'హారిస్': 'haaris',
 'హారియట్': 'harriet',
 'హారిదేవో': 'harideo',
 'హారిణిప్రియా': 'harinipriya',
 'హారిక్': 'haarik',
 'హారిక': 'harika',
 'హారతి': 'harati',
 'హారజా': 'harza',
 'హాయ్': 'hai',
 'హామ్ల్': 'hamll',
 'హామెడ్': 'hamed',
 'హామీదుద్దీన్': 'hameeduddin',
 'హామిల్': 'hamil',
 'హాఫ్సా': 'hafsah',
 'హాఫ్సహ్సబుహీ': 'hafsahsubuhi',
 'హాఫ్రిన': 'hafrin',
 'హాఫెజ్': 'haffez',
 'హాఫీలు': 'haffies',
 'హాఫరొజ': 'hafroz',
 'హాపెజుల్': 'hapejul',
 'హాన్సీ': 'hansy',
 'హాన్': 'han',
 'హానీ': 'haani',
 'హానింద్ర': 'harmindr',
 'హాని': 'hani',
 'హాధ్వీకా': 'hadhvika',
 'హాదియా': 'hadia',
 'హాతీందూర్': 'hathindur',
 'హాతీ': 'hathi',
 'హాణీఠ': 'hanith',
 'హాణీఏల': 'haniel',
 'హాట్టే': 'hatte',
 'హాజెరా': 'hajerah',
 'హాజీరా': 'hajira',
 'హాజీబాబా': 'hajibaba',
 'హాజీ': 'haji',
 'హాజిమ్': 'hajim',
 'హాజిముద్దీన్': 'hazimuddin',
 'హాజిమ': 'hazima',
 'హాజిబ్': 'hazib',
 'హాజి': 'hazi',
 'హాగిడీ': 'hagidi',
 'హాక్షాత్': 'hakshath',
 'హాక్ర్': 'haqur',
 'హాక్': 'haq',
 'హాఎట్': 'hayet',
 'హస్సిన్': 'hassine',
 'హస్సన్': 'hassan',
 'హస్సనుద్దీన్': 'hassanuddin',
 'హస్సని': 'hussaini',
 'హస్విత': 'haswitha',
 'హస్వికా': 'haswika',
 'హస్లీ': 'hasli',
 'హస్లాకర్': 'haslaker',
 'హస్రా': 'hasra',
 'హస్రత్': 'hasrath',
 'హస్ముద్దీన్': 'hasmuddin',
 'హస్మిత్': 'hasmith',
 'హస్మిత': 'hasmitha',
 'హస్మాబేగం': 'hasmabegum',
 'హస్మా': 'hasma',
 'హస్మత్': 'hasmath',
 'హస్మతున్నీసా': 'hasmatunnisa',
 'హస్మతున్': 'hasmatun',
 'హస్బియ': 'hasbiya',
 'హస్నైన్': 'hasnain',
 'హస్నూర్': 'hasnur',
 'హస్నుద్దీన్': 'hasnuddin',
 'హస్ని': 'hasni',
 'హస్నారా': 'husnara',
 'హస్నాని': 'hasnani',
 'హస్నా': 'hasna',
 'హస్దా': 'hasda',
 'హస్తరం': 'hastaram',
 'హస్తపురపు': 'hastha',
 'హసేమ': 'hasem',
 'హసేనా': 'hasena',
 'హసీముద్దీన్': 'hasimuddin',
 'హసీమ': 'haseem',
 'హసీబ్': 'haseeb',
 'హసీబుడ్డీన్': 'haseebuddin',
 'హసీఫుద్దీన్': 'haseefuddin',
 'హసీన్బీ': 'haseenbee',
 'హసీన్': 'haseen',
 'హసీనీబీ': 'haseenibee',
 'హసీనా': 'hasina',
 'హసీద': 'haseed',
 'హసిబుల్': 'hasibul',
 'హసిబా': 'hasiba',
 'హసిఫుద్దిన్': 'hasifuddin',
 'హసిఫ': 'hasif',
 'హసినాబి': 'hasinabi',
 'హసినా': 'hassina',
 'హసిత్': 'hasith',
 'హసిత': 'hasitha',
 'హసావత్': 'hasavath',
 'హసామి': 'hasami',
 'హసరథ': 'masarath',
 'హసముద్దీన్': 'hasamuddin',
 'హసన్భాఈ': 'hasanbhai',
 'హసన్తి': 'hasanti',
 'హసన్': 'hasan',
 'హసనుద్దీన్': 'hasanuddin',
 'హసనలీ': 'hasanali',
 'హసంసబ్నదఫ్': 'hasansabnadaf',
 'హసంత్': 'hasanth',
 'హసం': 'hasam',
 'హష్\u200cముఖ్': 'hasmukh',
 'హష్మిత': 'hashmitha',
 'హష్మి': 'hashmi',
 'హష్మా': 'hashma',
 'హషీష్': 'hashish',
 'హషీమ్': 'hasheem',
 'హశ్మాత': 'hashmath',
 'హశీర': 'hashir',
 'హశీతా': 'hashita',
 'హశినదెన్': 'hashinaben',
 'హశమత్': 'hashmat',
 'హశం': 'hasham',
 'హవ్య': 'havya',
 'హవుల': 'havula',
 'హవీష్': 'haviesh',
 'హవీశ్': 'haveesh',
 'హవీలాహ': 'havilah',
 'హవీలా': 'haveela',
 'హవిష్': 'havish',
 'హవిషా': 'havisha',
 'హవిల్': 'havil',
 'హవియుదాభి': 'haviudabhi',
 'హవి': 'havi',
 'హవాల్ధార్': 'hawaldhar',
 'హవారీ': 'hawari',
 'హవాబీ': 'hawabee',
 'హవాజ్': 'hawaz',
 'హవా': 'hawa',
 'హవల్దార్': 'hawaldar',
 'హవల్గి': 'havalgi',
 'హవప్పా': 'havappa',
 'హల్వి': 'halvi',
 'హల్లెమా': 'hallema',
 'హల్లికర్': 'hallikar',
 'హల్లి': 'halli',
 'హల్లాలే': 'hallale',
 'హల్యమ్మ': 'halyamma',
 'హల్పాని': 'halpani',
 'హల్ధంకర్': 'haldhanker',
 'హల్దార్': 'haldar',
 'హల్గి': 'halgi',
 'హల్గర్': 'halgar',
 'హల్కుందకర్': 'hulkundakar',
 'హల్': 'hul',
 'హలేమా': 'halema',
 'హలీమ్': 'halim',
 'హలీమున్నీసా': 'haleemunnisa',
 'హలీమునిసా': 'haleemunisa',
 'హలీమాభి': 'halimabhi',
 'హలీమాబీ': 'halimabi',
 'హలీమా': 'halima',
 'హలీనా': 'haleena',
 'హలీంబీ': 'haleembee',
 'హలియమ్మ': 'haliyamma',
 'హలిందర్': 'halinder',
 'హలావత్': 'halawath',
 'హలాని': 'halani',
 'హలా': 'hala',
 'హలధర్': 'haladhar',
 'హలకియా': 'halkiya',
 'హ\u0c49ల': 'hall',
 'హర్హం': 'harham',
 'హర్సుక్': 'harsuk',
 'హర్సిమ్రన్': 'harsimran',
 'హర్సన్': 'harsan',
 'హర్షౌర్ధన్': 'harshaurdhan',
 'హర్షైత': 'harsaitha',
 'హర్షూల్': 'harshul',
 'హర్షీదా': 'harsheeda',
 'హర్షీత': 'harsheetha',
 'హర్షిని': 'harsini',
 'హర్షిదాబెన్': 'harshidaben',
 'హర్షిత్': 'harsit',
 'హర్షిత': 'harsitha',
 'హర్షిణి': 'harshini',
 'హర్షిక్': 'harshik',
 'హర్షిః': 'harsih',
 'హర్షి': 'harshie',
 'హర్షాథ్': 'harshath',
 'హర్షా': 'harrsha',
 'హర్షశ్రీ': 'harshasri',
 'హర్షశీల': 'harsheela',
 'హర్షవాణి': 'harshavani',
 'హర్షవర్ధన్': 'harshvardhan',
 'హర్షవర్దన్': 'harshavardan',
 'హర్షలా': 'harshala',
 'హర్షర్షిణి': 'harsharshini',
 'హర్షమ్మ': 'harshamma',
 'హర్షమున్నిసా': 'harshmunnisa',
 'హర్షబాబు': 'harshababu',
 'హర్షన్': 'harshan',
 'హర్షద్భాయ్': 'harshadbhai',
 'హర్షద్': 'harshad',
 'హర్షదీప్': 'harshadeep',
 'హర్షదా': 'harshada',
 'హర్షద': 'rupamani',
 'హర్షణీ': 'harshani',
 'హర్షజ్': 'harshaj',
 'హర్షకుమార్': 'harshkumar',
 'హర్ష': 'harsha',
 'హర్శిల్': 'harshil',
 'హర్శియా': 'harshiya',
 'హర్శిద': 'harshida',
 'హర్శిక': 'harshika',
 'హర్శాలి': 'harshali',
 'హర్శానందన': 'harshanandan',
 'హర్శవ్ఢన': 'harshavdhan',
 'హర్శవర్దినీ': 'harshavardhini',
 'హర్శల్': 'harshal',
 'హర్శదరాయ': 'harshadrai',
 'హర్వీన్': 'harveen',
 'హర్విందర్': 'harvinder',
 'హర్వాన్ష్': 'harvansh',
 'హర్లాల్': 'harlal',
 'హర్రేష్': 'harresh',
 'హర్రశిన్': 'harshin',
 'హర్య': 'harya',
 'హర్మైన్': 'harmain',
 'హర్మేష్': 'harmesh',
 'హర్మిలా': 'harmila',
 'హర్మిన్దెర్': 'harminder',
 'హర్మిత': 'harmitha',
 'హర్మిందర్': 'harmindar',
 'హర్మన్దీప్': 'harmandeep',
 'హర్మన్కరన్జిత్': 'harmankaranjit',
 'హర్మత్': 'hurmath',
 'హర్బిందర్': 'harbhinder',
 'హర్బిండర్': 'harbinder',
 'హర్బాజ': 'harbaz',
 'హర్బన్స్': 'harbans',
 'హర్బంత్': 'harbant',
 'హర్ఫూల్': 'harfool',
 'హర్\u200cప్రీత్': 'harpreet',
 'హర్ప్రీఠ': 'harpreeth',
 'హర్ప్రిత్': 'harprith',
 'హర్పిత': 'harpitha',
 'హర్పాల్': 'harpal',
 'హర్పాణి': 'harpani',
 'హర్పద్': 'harpadh',
 'హర్న్జిత్': 'harnjit',
 'హర్నైన్': 'harnain',
 'హర్ని': 'harni',
 'హర్దేవ్': 'hardev',
 'హర్దీప్': 'hardeep',
 'హర్దీక్': 'hardeek',
 'హర్దీ': 'hardi',
 'హర్దయాల్': 'hardayal',
 'హర్తా': 'hartha',
 'హర్జోత్': 'harjoth',
 'హర్జేస': 'harjas',
 'హర్జీవన్భాయ్': 'harjivanbhai',
 'హర్జీత్': 'harjeet',
 'హర్జిత్': 'harjith',
 'హర్జిందర్': 'harjinder',
 'హర్చిత': 'harchitha',
 'హర్చనా': 'harchana',
 'హర్చండి': 'harchand',
 'హర్గున్': 'hargun',
 'హర్గిహ': 'hargih',
 'హర్కీతన': 'harkeetan',
 'హర్': 'har',
 'హరౌదీన్': 'harooudin',
 'హరోష్': 'harosh',
 'హరేస': 'haresa',
 'హరేష్రెడ్డి': 'hareshreddy',
 'హరేష్\u200cకుమార్': 'hareshkumar',
 'హరేష్': 'haressh',
 'హరేషా': 'haresha',
 'హరేరామ్': 'hareram',
 'హరేరాముడు': 'hareramu',
 'హరేనాథ్': 'harenath',
 'హరేకృష్ణ': 'harekrushna',
 'హరేంద్ర': 'harendra',
 'హరేందర్': 'harender',
 'హరూన్': 'haroon',
 'హరూ': 'haru',
 'హరుమంతి': 'harumanthi',
 'హరున్': 'harun',
 'హరుఓ': 'haruo',
 'హరీష్రెడ్డి': 'harishreddy',
 'హరీష్\u200cరాజు': 'harishraju',

In [37]:
# Function to get Telugu names for English names
def get_telugu_name(english_name):
    return name_mapping.get(english_name, 'Name Not Found')

# Apply the function to create a new column 'Telugu_Name' in the DataFrame
Final_data['English_Name'] = Final_data['first_name_Telugu'].apply(get_telugu_name)

In [38]:
Final_data.head()

               Name  Mobile Number first_name_Telugu    English_Name
0          B మాణేమ్మ    9912460335              None  Name Not Found
1            B సుజాత    9866114631             సుజాత         sujhata
2          B.రాణేమ్మ    9666591190              None  Name Not Found
3   Baikadi veeramma    6439743689              None  Name Not Found
4  Bondili arthi bai    9948537228              None  Name Not Found

In [42]:

reverse_filtered_data = Final_data[~(Final_data['English_Name'] == 'Name Not Found')]

In [43]:
reverse_filtered_data.head()

               Name  Mobile Number first_name_Telugu English_Name
1            B సుజాత    9866114631             సుజాత      sujhata
5          Ch శివయ్య    9490969971            శివయ్య      sivayya
6      G యాది రెడ్డి    9848224651              యాది         yadi
7  G రాజశేఖర్ రెడ్డి    9866052111          రాజశేఖర్   rajshekhar
8          J v చౌదరి    9154337137             చౌదరి    chowdhary

In [44]:
reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

C:\Users\Admin\AppData\Local\Temp\ipykernel_14664\1503262758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['English_Name'] = reverse_filtered_data['English_Name'].str.strip()

In [45]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
reverse_filtered_data = capitalize_column('English_Name', reverse_filtered_data)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14664\1535921800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[column_name] = dataframe[column_name].str.capitalize()

In [46]:
reverse_filtered_data.head()

               Name  Mobile Number first_name_Telugu English_Name
1            B సుజాత    9866114631             సుజాత      Sujhata
5          Ch శివయ్య    9490969971            శివయ్య      Sivayya
6      G యాది రెడ్డి    9848224651              యాది         Yadi
7  G రాజశేఖర్ రెడ్డి    9866052111          రాజశేఖర్   Rajshekhar
8          J v చౌదరి    9154337137             చౌదరి    Chowdhary

In [48]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర               0.0
1        hrudai              హ్రుదై               0.0
2      hruthika             హ్రుతిక               0.0
3      hrithvik          హ్రిత్విక్               0.0
4         hritu              హ్రితు               0.0

In [49]:
# Function to clean and convert a string to an integer
def clean_and_convert(value):
    cleaned_string = ''.join(filter(str.isdigit, str(value)))
    try:
        return int(cleaned_string)
    except ValueError:
        return None  # or any default value you prefer for invalid cases

# Apply the function to the specified column
reverse_filtered_data['Mobile Number'] = reverse_filtered_data['Mobile Number'].apply(lambda x: clean_and_convert(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_14664\3829460798.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reverse_filtered_data['Mobile Number'] = reverse_filtered_data['Mobile Number'].apply(lambda x: clean_and_convert(x))

In [50]:
data=reverse_filtered_data

In [51]:
import json
import pandas as pd

# Assuming 'data' is a Pandas DataFrame with columns 'first_name2' and 'Mobile No'
name_phone_dict = {}

for index, row in data.iterrows():
    name = row['English_Name']
    phone_number = str(row['Mobile Number'])  # Convert phone number to string
    
    if name in name_phone_dict:
        name_phone_dict[name].append(phone_number)
    else:
        name_phone_dict[name] = [phone_number]

# Save the dictionary as a JSON file
with open('Raithubandu_name_phone_numbers.json', 'w') as json_file:
    json.dump(name_phone_dict, json_file, indent=4)

# Counting phone numbers for each name
phone_number_counts = {name: len(numbers) for name, numbers in name_phone_dict.items()}

# Total count of phone numbers in the DataFrame
total_phone_numbers = len(data)

# Calculating total count of phone numbers from the dictionary
count_from_dict = sum(len(numbers) for numbers in name_phone_dict.values())

# Comparing counts
if total_phone_numbers == count_from_dict:
    print("Total counts match! All phone numbers are accounted for.")
    print("Saved name_phone_numbers.json successfully.")
else:
    print("Total counts do not match! There might be missing or duplicate phone numbers.")

Total counts match! All phone numbers are accounted for.
Saved name_phone_numbers.json successfully.