In [1]:
import pandas as pd

In [2]:
pwd

'c:\\Users\\Admin\\Documents\\python'

In [3]:
import pandas as pd
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

In [4]:
file_list

['Kalyan Laxmi and Shadi Mubarak.xlsx']

In [5]:
import pandas as pd
import os

import pandas as pdfirst_name
import os

# Get a list of all CSV files in the folder
folder_path = r'C:\\Users\\Admin\\Documents\\telangana'
file_list = [file for file in os.listdir(folder_path) if file.endswith('.xlsx')]

# Initialize an empty DataFrame to store the merged data
Final_data = pd.DataFrame()

# Read each CSV file and merge into one DataFrame
for file in file_list:
    file_path = os.path.join(folder_path, file)
    data = pd.read_excel(file_path)
    Final_data = pd.concat([Final_data, data])

# Save the merged data to a new CSV file
Final_data.to_csv('Final1Cr_File.xlsx', index=False)

In [6]:
Final_data.head()

                Name Mobile Number       English_Name
0      Katike Vinoda    9502147428      Katike Vinoda
1        Jadala Rani    8498806929        Jadala Rani
2          M MANJULA    9676358301          M Manjula
3     RATHOD JAI SRI    9010597691     Rathod Jai Sri
4  VANDHURAYI SWETHA    8096847172  Vandhurayi Swetha

In [7]:
Final_data['English_Name'] = Final_data['English_Name'].str.strip()

In [8]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
Final_data = capitalize_column('English_Name', Final_data)

In [9]:
#16536

In [10]:
Final_data.head()

                Name Mobile Number       English_Name
0      Katike Vinoda    9502147428      Katike vinoda
1        Jadala Rani    8498806929        Jadala rani
2          M MANJULA    9676358301          M manjula
3     RATHOD JAI SRI    9010597691     Rathod jai sri
4  VANDHURAYI SWETHA    8096847172  Vandhurayi swetha

In [11]:
Final_data.isnull().sum()

Name             1
Mobile Number    1
English_Name     1
dtype: int64

In [12]:
Final_data.dropna(inplace = True)

In [13]:
uniq_df = pd.read_excel(r"C:\\Users\\Admin\\Documents\\telangan uniques\\Final_Uniques_File.xlsx")

In [14]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర                 0
1        hrudai              హ్రుదై                 0
2      hruthika             హ్రుతిక                 0
3      hrithvik          హ్రిత్విక్                 0
4         hritu              హ్రితు                 0

In [15]:
uniq_df.isnull().sum()

Unqiue_names           0
Telugu_unique_names    0
telugu_wronginfo       0
dtype: int64

In [16]:
uniq_df.shape

(45266, 3)

In [17]:
# Remove rows containing 'baby' or 'Baby' in Unqiue_names column (case insensitive)
uniq_df = uniq_df[~uniq_df['Unqiue_names'].str.contains('baby', case=False)]

In [18]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  hrushikeswar        హ్రుశీకేశ్వర                 0
1        hrudai              హ్రుదై                 0
2      hruthika             హ్రుతిక                 0
3      hrithvik          హ్రిత్విక్                 0
4         hritu              హ్రితు                 0

In [19]:
uniq_df['Unqiue_names'] = uniq_df['Unqiue_names'].str.strip()

In [20]:
# Function to capitalize strings in a column
def capitalize_column(column_name, dataframe):
    dataframe[column_name] = dataframe[column_name].str.capitalize()
    return dataframe

# Applying the function to the 'Words' column
uniq_df = capitalize_column('Unqiue_names', uniq_df)

In [21]:
# Initialize an empty set to store unique names
unique_names_set = set()

# Function to update unique_names_set with unique names from a dataframe
def update_unique_names(dataframe):
    unique_names_set.update(dataframe['Unqiue_names'].tolist())

# Assuming df2 is another dataframe with a 'unique_names' column
# Update unique_names_set with unique names from df2
update_unique_names(uniq_df)

# Now unique_names_set contains unique names from both unique_df and df2
# You can convert the set back to a list if needed
combined_unique_names = list(unique_names_set)

In [22]:
unique_names_set

{'Chanderkanth',
 'Azim',
 'Venkate',
 'Chandya',
 'Ihteshamuddin',
 'Kuruvamma',
 'Grace',
 'Ansuja',
 'Moothedath',
 'Maladri',
 'Nitin',
 'Srisindhu',
 'Binitha',
 'Gnanasudha',
 'Sultanali',
 'Prameshwari',
 'Sarayou',
 'Shirajbhai',
 'Good',
 'Narsimulu',
 'Asmitha',
 'Haslaker',
 'Santhapuri',
 'Srinibasan',
 'Harinivas',
 'Sunkanna',
 'Sherya',
 'Balasaraswathi',
 'Rabakamma',
 'Angaiah',
 'Sarveshwara',
 'Seshikala',
 'Nagaanushakoya',
 'Musaveer',
 'Madhurika',
 'Nagavanshi',
 'Veerababulu',
 'Debika',
 'Abidasultana',
 'Lavuri',
 'Vimaleshwari',
 'Anantalakshmi',
 'Sathemma',
 'Afrar',
 'Rathanam',
 'Hemachandra',
 'Sitalaxmi',
 'Kilbortson',
 'Suvali',
 'Narayanadas',
 'Saluku',
 'Ramkanya',
 'Sushrith',
 'Saziya',
 'Gajawada',
 'Mujaheda',
 'Fazlul',
 'Ratana',
 'Chidambara',
 'Bogachari',
 'Laxmi',
 'Jaspreet',
 'Gangadharao',
 'Jambhavanthi',
 'Manda',
 'Priyanjali',
 'Vijayarani',
 'Chitram',
 'Ramapravesh',
 'Adresh',
 'Pethru',
 'Jangulu',
 'Kahar',
 'Atchamamba',
 'Bavika',
 'Martis',
 'Nelagiri',
 'Vediri',
 'Sufyan',
 'Jangaiaah',
 'Sahroj',
 'Fareen',
 'Paramesha',
 'Hague',
 'Chimnayak',
 'Sanku',
 'Ramaneswara',
 'Vaaruni',
 'Datteswari',
 'Sambu',
 'Bhagvanth',
 'Threveni',
 'Charanjyot',
 'Avinash',
 'Ramadeva',
 'Shailabala',
 'Manguli',
 'Prashen',
 'Bruhaspathi',
 'Janni',
 'Gshivaranjani',
 'Anuroopa',
 'Dasadhi',
 'Sanike',
 'Labin',
 'Sanjeva',
 'Bhom',
 'Pranaw',
 'Jasintha',
 'Guruvinda',
 'Shrishylam',
 'Bathula',
 'Prabhalatha',
 'Pentaiah',
 'Sadik',
 'Bilakhis',
 'Mohd khan',
 'Siddiraju',
 'Raabia',
 'Pharana',
 'Koushal',
 'Hamsika',
 'Meesa',
 'Farkruddin',
 'Chodamani',
 'Saidala',
 'Shailani',
 'Kamindar',
 'Nacha',
 'Ulla',
 'Hanumanthi',
 'Subrahmanyeswara',
 'Rajarao',
 'Bhaghyamma',
 'Srichandan',
 'Baradi',
 'Saichandu',
 'Kaseem',
 'Chandhi',
 'Glace',
 'Dhevi',
 'Masarayya',
 'Rajayellaiah',
 'Kanhai',
 'Khangar',
 'Sugith',
 'Shivukanth',
 'Shaeena',
 'Srimaan',
 'Vastrala',
 'Madhusmita',
 'Kuttappan',
 'Sapana',
 'Bija',
 'Mehatha',
 'Somanarasamma',
 'Saidabi',
 'Ferdo',
 'Jayadev',
 'Mehreen',
 'Jprakash',
 'Khaleq',
 'Shrigiri',
 'Sritoshna',
 'Goushe',
 'Karnathi',
 'Shilaben',
 'Saichaandraa',
 'Umanageshwari',
 'Thriswitha',
 'Shivada',
 'Hyandavi',
 'Errabapu',
 'Thrinadh',
 'Raviraja',
 'Marry',
 'Sheshabhattar',
 'Izaz',
 'Munnappa',
 'Kowshik',
 'Jakshitha',
 'Suvanamala',
 'Mathiya',
 'Nagasravani',
 'Ramanna',
 'Chennakeshavula',
 'Bhudaiah',
 'Bisikeshan',
 'Binesh',
 'Chimmula',
 'Kurmma',
 'Vasari',
 'Afij',
 'Girireddy',
 'Jenifer',
 'Nabeel',
 'Obule',
 'Purvang',
 'Sathvik',
 'Mandalarajani',
 'Ahbilash',
 'Abeada',
 'Suhashini',
 'Gadwalkar',
 'Krishnarjunachari',
 'Anjappa',
 'Dhwani',
 'Vinayasri',
 'Netish',
 'Theja',
 'Hameedullah',
 'Gyanendra',
 'Nirup',
 'Bhogaraju',
 'Alaxmi',
 'Mrinmoy',
 'Shakaram',
 'Amarnath',
 'Bugya',
 'Sazeed',
 'Tejitha',
 'Durbesh',
 'Soudabhouni',
 'Asina',
 'Sarbjeet',
 'Hamedulla',
 'Repana',
 'Madhavmadhusudhanreddy',
 'Rekhasri',
 'Devagoud',
 'Irfana',
 'Dhamodhar',
 'Mandhulolu',
 'Jahanara',
 'Shivadi',
 'Galipellivindya',
 'Sankerthana',
 'Siphora',
 'Srinadhuni',
 'Jane',
 'Amithanand',
 'Atyukti',
 'Ragini',
 'Natashesh',
 'Paryaj',
 'Sayravath',
 'Soham',
 'Navata',
 'Krsihnaveni',
 'Feroz',
 'Pritish',
 'Ratnashree',
 'Hazmath',
 'Sakkar',
 'Manishkumar',
 'Chosang',
 'Atkur',
 'Yeshoda',
 'Moammed',
 'Raghavi',
 'Jamanjyothi',
 'Radhka',
 'Sivasankara',
 'Lachamibai',
 'Pushanthak',
 'Malasina',
 'Benudhar',
 'Haripuram',
 'Sandeepkumar',
 'Nagalakshmamma',
 'Jvanis',
 'Mahveen',
 'Gendar',
 'Kalicharan',
 'Sreshta',
 'Shafik',
 'Chendramma',
 'Tarangini',
 'Balarajgoud',
 'Deekshika',
 'Veladhanda',
 'Rizwi',
 'Khandapati',
 'Anupma',
 'Bhagavathi',
 'Shalivan',
 'Laila',
 'Drakshamala',
 'Sadaf',
 'Saradadevi',
 'Maridayya',
 'Munindar',
 'Jnaneswara',
 'Peeram',
 'Nandagopal',
 'Khajir',
 'Aubair',
 'Mamgamma',
 'Najimunnisa',
 'Rajoli',
 'Shankare',
 'Jalendhar',
 'Gunavardhan',
 'Shivanjali',
 'Masrath',
 'Bilkhiz',
 'Jainabai',
 'Khiya',
 'Sriwin',
 'Raveder',
 'Harishya',
 'Meesala',
 'Sayyed',
 'Hariya',
 'Sriraghudan',
 'Goid',
 'Krutharth',
 'Jyothiswara',
 'Akaram',
 'Vennampally',
 'Kamaluddin',
 'Owais',
 'Farjanabegam',
 'Suraiah',
 'Megavath',
 'Udhy',
 'Saravva',
 'Saiamma',
 'Jebaraj',
 'Drashti',
 'Jyothinadh',
 'Lakshmisoujanya',
 'Panish',
 'Ausaf',
 'Ammakka',
 'Shingte',
 'Moshahid',
 'Sadanad',
 'Kandimal',
 'Raami',
 'Mahendarreddy',
 'Sultannhai',
 'Veeracharyulu',
 'Janani',
 'Chiranjeevulu',
 'Bhagavadgita',
 'Veerchand',
 'Ambulaiah',
 'Wohed',
 'Vijayashree',
 'Premila',
 'Jevagavani',
 'Jincy',
 'Govaradhana',
 'Dhimant',
 'Adababu',
 'Soniya',
 'Bhanothu',
 'Hariram',
 'Laxmnarayana',
 'Raghi',
 'Varan',
 'Rishad',
 'Mahander',
 'Ranjendar',
 'Basid',
 'Farha',
 'Tejas',
 'Monesh',
 'Afeen',
 'Kartik',
 'Ross',
 'Ammayee',
 'Vinendar',
 'Santhodh',
 'Pranavateja',
 'Dhattatreya',
 'Hamsaammma',
 'Ragh',
 'Kataravath',
 'Bethayya',
 'Ramswaroop',
 'Mahishala',
 'Shivanjani',
 'Jagadheesh',
 'Bhupender',
 'Roshaiah',
 'Jainil',
 'Virajith',
 'Manthumkari',
 'Umasundara',
 'Poornesh',
 'Hamid',
 'Sarang',
 'Praharshith',
 'Nidish',
 'Vallakeerthi',
 'Chandhraiah',
 'Supreeth',
 'Johnson',
 'Jangir',
 'Naggi',
 'Chinmayi',
 'Aatish',
 'Sombabu',
 'Seshumamba',
 'Veneela',
 'Mallaiahgari',
 'Sajani',
 'Akshinth',
 'Bondaiah',
 'Edamma',
 'Jagaschandra',
 'Prabandhakam',
 'Kankanala santosh',
 'Gajaraj',
 'Jayanth',
 'Someswara',
 'Shivprasad',
 'Mahim',
 'Vamshini',
 'Renukunta',
 'Adurga',
 'Omulu',
 'Anojna',
 'Usha',
 'Harivenkatanaga',
 'Subbarayan',
 'Kezia',
 'Rameswara',
 'Merugusupriy',
 'Mahad',
 'Maleswari',
 'Shashidar',
 'Joyes',
 'Nageshear',
 'Mahtab',
 'Charmi',
 'Janmula',
 'Giri',
 'Vishwaprasad',
 'Venkatrajeshwar',
 'Mahboobunnisa',
 'Nukaraju',
 'Someswararao',
 'Satyendhar',
 'Mehram',
 'Jamel',
 'Shivangini',
 'Gopalakrish',
 'Shamlal',
 'Boommaiah',
 'Rikhil',
 'Khaliwala',
 'Kurshed',
 'Rishi',
 'Khaliquzzaman',
 'Jainwal',
 'Danbagyam',
 'Rahimaunnisa',
 'Suligiri',
 'Kamalapriya',
 'Chennamaneni',
 'Oankaj',
 'Ayube',
 'Srusti',
 'Pawana',
 'Nerellamma',
 'Llamma',
 'Pranaydeep',
 'Koheer',
 'Lasmamma',
 'Viveka',
 'Samima',
 'Sathyalatha',
 'Chitakka',
 'Yathender',
 'Laknaboina',
 'Bhairavi',
 'Gorna',
 'Sireen',
 'Raghupathireddy',
 'Udayarekha',
 'Shivadini',
 'Pullamma',
 'Nagasweta',
 'Hemambaradhararao',
 'Mahimuda',
 'Quddus',
 'Kalle',
 'Ramabhadram',
 'Pritviraj',
 'Balaprasad',
 'Baratavva',
 'Sainith',
 'Motasim',
 'Dayanika',
 'Laxmikanta',
 'Beemachari',
 'Aartee',
 'Sampathreddy',
 'Jyogavathi',
 'Shashvat',
 'Apronitha',
 'Siddkha',
 'Nagasitamaha',
 'Sreetham',
 'Omsrividhyabharathi',
 'Meerabee',
 'Pethe',
 'Kamali',
 'Afsar',
 'Rahil',
 'Chhaina',
 'Manirathna',
 'Ramnarsaisah',
 'Mounikla',
 'Lingamraj',
 'Kalavena',
 'Anunai',
 'Keshavan',
 'Kranthika',
 'Moutan',
 'Pushkar',
 'Sainani',
 'Harpadh',
 'Premkumar',
 'Khokan',
 'Sameeranjum',
 'Menayya',
 'Arathi',
 'Kalibhat',
 'Bhagavath',
 'Gopikumar',
 'Khare',
 'Subrahmanyeswari',
 'Yaadayya',
 'Shyamasunder',
 'Maska',
 'Ishaque',
 'Arunajyoth',
 'Balaramana',
 'Sushal',
 'Yezdani',
 'Vanshika',
 'Nayanaben',
 'Hamseed',
 'Soma',
 'Yousufuddin',
 'Karupaiah',
 'Shazmani',
 'Hafeeja',
 'Meghal',
 'Malthummeda',
 'Mirabi',
 'Lalithasree',
 'Bojjayya',
 'Mehal',
 'Narsanna',
 'Namboori',
 'Hemamalinee',
 'Chinnayellaswamy',
 'Mizra',
 'Wasiluddin',
 'Rngarao',
 'Sawnar',
 'Meer',
 'Srikath',
 'Chanrakanth',
 'Hitha',
 'Sahab',
 'Naghabhusanam',
 'Bijjala',
 'Vannela',
 'Nethrini',
 'Bheemroa',
 'Lathesh',
 'Shahzeb',
 'Svarnalatha',
 'Seemloya',
 'Sagir',
 'Jaganadha',
 'Sumathamma',
 'Gracelidiya',
 'Nagadivija',
 'Shilaja',
 'Denish',
 'Kedar',
 'Nataraj',
 'Venkataiha',
 'Premamma',
 'Srilasya',
 'Alevelu',
 'Balu',
 'Yagnapriya',
 'Mandava',
 'Shahraz',
 'Raseba',
 'Muneshwari',
 'Pragnavanth',
 'Harshad',
 'Asfak',
 'Ajayani',
 'Devakrupa',
 'Ifthakhar',
 'Azeeza',
 'Lakshmmma',
 'Kayyuru',
 'Kandula',
 'Srimathi',
 'Viswanath',
 'Chandkala',
 'Lokanth',
 'Vishnuvardan',
 'Varam',
 'Sayuj',
 'Nazmn',
 'Tabraiz',
 'Saivarma',
 'Eashan',
 'Satyasi',
 'Lathasri',
 'Rubeenabegam',
 'Sahav',
 'Tholisanna',
 'Mythra',
 'Shanta',
 'Sindhwani',
 'Rukmabai',
 'Sharanamma',
 'Anil',
 'Cananta',
 'Ashaamalla',
 'Samul',
 'Dharmendara',
 'Kaithunnissa',
 'Azger',
 'Anjanna',
 'Beepasha',
 'Aradhana',
 'Ismayal',
 'Parushuramudu',
 'Ashitha',
 'Pattabhiramayya',
 'Surnar',
 'Mseshu',
 'Sanatabassum',
 'Manikhanta',
 'Jethendar',
 'Sethi',
 'Ramkrishna',
 'Himmanth',
 'Dhirendar',
 'Shivan',
 'Hariveera',
 'Jeetenders',
 'Khashyp',
 'Irfath',
 'Purnachandraraju',
 'Mone',
 'Muneerunissa',
 'Kishorebharadwaj',
 'Vahidha',
 'Christie',
 'Rennie',
 'Cherka',
 'Venkataram',
 'Misbah',
 'Madhusudanacharu',
 'Jashti',
 'Himavanth',
 'Pula',
 'Pushpaja',
 'Akthari',
 'Balavardhni',
 'Shivaji',
 'Srishail',
 'Kavethi',
 'Bachallu',
 'Umamaheswaram',
 'Mallur',
 'Unnathi',
 'Leepika',
 'Hashma',
 'Venkatappa',
 'Satyayya',
 'Malashree',
 'Ramanatham',
 'Sandavena',
 'Srustisai',
 'Shreyanesh',
 'Panchasheela',
 'Kasam',
 'Himajadevi',
 'Rupanjali',
 'Rajusing',
 'Medhansh',
 'Niloufar',
 'Alokhya',
 'Bijjam',
 'Anshikaa',
 'Narsimham',
 'Karunakara',
 'Pranoop',
 'Kayamparthy',
 'Dhanalashmi',
 'Krishnamoorthy',
 'Srichandhana',
 'Taufeeque',
 'Varenya',
 'Manmai',
 'Sathyavani',
 'Prapoojith',
 'Abhinash',
 'Meraje',
 'Shivani',
 'Routas',
 'Sreevinasa',
 'Urmiladevi',
 'Juleshwar',
 'Darshanam',
 'Dabeer',
 'Sripati',
 'Khatwada',
 'Jambavathi',
 'Denesh',
 'Kadambini',
 'Tulisamma',
 'Venakata',
 'Vajralingam',
 'Shusheela',
 'Markondaiah',
 'Sanjani',
 'Wazid',
 'Aneefa',
 'Veerabhadrarao',
 'Kummari',
 'Karthikeya',
 'Spandana',
 'Aneela',
 'Nivitha',
 'Lalithya',
 'Shushmaguptha',
 'Venkataramulu',
 'Surendar',
 'Sattii',
 'Awais',
 'Palvai',
 'Rajavarapu',
 'Angalakuduru',
 'Nayakamma',
 'Sudham',
 'Prasul',
 'Farezuddin',
 'Rijvam',
 'Amreena',
 'Nagarani',
 'Bhumeshwaramma',
 'Sharithap',
 'Hariprasad',
 'Sabeela',
 'Rajagiri',
 'Mareswara',
 'Binesha',
 'Yengaldas',
 'Veerappa',
 'Kuppamma',
 'Feereen',
 'Girijesh',
 'Aaleya',
 'Shanawan',
 'Rasajna',
 'Rabab',
 'Muthyapu',
 'Sreeramlu',
 'Jarpeela',
 'Prabhaat',
 'Anthaiah',
 'Aggi',
 'Goska',
 'Sanna',
 'Ishtekhar',
 'Peddarapu',
 'Palamma',
 'Parvindar',
 'Rajanna',
 'Rajashakar',
 'Akheela',
 'Triveni',
 'Samrajayam',
 'Sharon',
 'Mohinoddin',
 'Mopur',
 'Sakubai',
 'Razeddin',
 'Deepik',
 'Samal',
 'Sayanna',
 'Maiboob',
 'Lalmiya',
 'Gary',
 'Laxminarasamma',
 'Yellamraju',
 'Dhamendar',
 'Esmail',
 'Priyesh',
 'Shambhulinga',
 'Kadel',
 'Madhekar',
 'Harivenkat',
 'Mangaiyarkarasi',
 'Julekha',
 'Abdulkareem',
 'Nagapoorna',
 'Pallavika',
 'Dhileep',
 'Sumukh',
 'Shamata',
 'Lokeswar',
 'Raghurami',
 'Yakalakshmi',
 'Shanthala',
 'Pichchamma',
 'Parvatam',
 'Shiresha',
 'Yesaswani',
 'Chanteshwar',
 'Ahamadunnisa',
 'Kaasim',
 'Sadiyasareena',
 'Srinuvasa',
 'Jogiraju',
 'Kama',
 'Dasthamma',
 'Depankar',
 'Saravamangala',
 'Lodepu',
 'Umaphaneeshwar',
 'Chandraraj',
 'Binita',
 'Nilson',
 'Kusum',
 'Rafey',
 'Chandrakala',
 'Faryad',
 'Ganeshan',
 'Nagendernath',
 'Ravikanth',
 'Somayajula',
 'Jabmany',
 'Alishetty',
 'Irmala',
 'Pavitra',
 'Devanand',
 'Biyabani',
 'Ratnamanjula',
 'Sampathaiah',
 'Saraswathi',
 'Chunauti',
 'Mithra',
 'Bhalani',
 'Jeet',
 'Nagalokeswara',
 'Chindam',
 'Kotheshwer',
 'Fousiah',
 'Gyanitha',
 'Pakeza',
 'Saithanish',
 'Badresh',
 'Chandraseker',
 'Abdu',
 'Srinadham',
 'Hanumantu',
 'Sarsawathi',
 'Sabitharani',
 'Samyukth',
 'Adhya',
 'Baqi',
 'Aechiraju',
 'Hanumamma',
 'Vidhathri',
 'Ranveer',
 'Raoji',
 'Mandira',
 'Jagseer',
 'Rahamatha',
 'Kedareswari',
 'Kalilash',
 'Engam',
 'Donald',
 'Muthukkufi',
 'Surana',
 'Snigdha',
 'Leelavatharam',
 'Jeteshwari',
 'Narasimhamurthy',
 'Veerasomulu',
 'Zenith',
 'Belala',
 'Shenaj',
 'Harikishna',
 'Sirivarshini',
 'Veraneni',
 'Matho',
 'Jayashanti',
 'Arafath',
 'Vemula',
 'Nikela',
 'Gang',
 'Vbhagyamary',
 'Madharam',
 'Moinunnisa',
 'Marryamma',
 'Devanshi',
 'Sandhy',
 'Venugopalaswamy',
 'Yatish',
 'Nooruzzaman',
 'Roudoor',
 'Sripal',
 'Illuri',
 'Hankar',
 'Ramalingaswamy',
 'Kisna',
 'Harapriya',
 'Vinodu',
 'Sardami',
 'Ramakantha',
 'Kak',
 'Udayasri',
 'Kalemma',
 'Rudramadevi',
 'Rashmata',
 'Gardashi',
 'Nagasuda',
 'Allajee',
 'Jakub',
 'Sandela',
 'Raadhika',
 'Raghavalu',
 'Lakhade',
 'Lodd',
 'Narendraaa',
 'Hikmat',
 'Nehasree',
 'Chandri',
 'Asmitaben',
 'Shakkar',
 'Simla',
 'Nishad',
 'Lalitanand',
 'Haaji',
 'Habeb',
 'Rudthwick',
 'Bhagyashri',
 'Gajabemkar',
 'Shaminder',
 'Manickam',
 'Ramakrishnagoud',
 'Keerthikanthdas',
 'Sujjamma',
 'Dharamveer',
 'Shadiq',
 'Gangadar',
 'Devendernath',
 'Manepally',
 'Ayaaz',
 'Rijal',
 'Badeswari',
 'Darsheel',
 'Intiyaz',
 'Namassivaya',
 'Azaj',
 'Sugandh',
 'Devasirvatham',
 'Indirabai',
 'Fateen',
 'Jyotthi',
 'Saisanthosh',
 'Imrankhan',
 'Bhavam',
 'Rupendhar',
 'Jesinta',
 'Droupathamma',
 'Zishan',
 'Yakubpasha',
 'Bayya',
 'Deependar',
 'Thejasree',
 'Appanna',
 'Jaswant',
 'Parhana',
 'Nazeemun',
 'Rajiyaa',
 'Bayapa',
 'Ekambaram',
 'Sajeeth',
 'Sreeramula',
 'Chakresh',
 ...}

In [23]:
uniq_df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర                 0
1        Hrudai              హ్రుదై                 0
2      Hruthika             హ్రుతిక                 0
3      Hrithvik          హ్రిత్విక్                 0
4         Hritu              హ్రితు                 0

In [24]:
Final_data.head()

                Name Mobile Number       English_Name
0      Katike Vinoda    9502147428      Katike vinoda
1        Jadala Rani    8498806929        Jadala rani
2          M MANJULA    9676358301          M manjula
3     RATHOD JAI SRI    9010597691     Rathod jai sri
4  VANDHURAYI SWETHA    8096847172  Vandhurayi swetha

In [26]:
import pandas as pd

# Assuming you have loaded the DataFrames df and unique_df as mentioned in your code

# Convert the unique names to a set for faster lookups
first_names_set = unique_names_set


# Function to extract first names using sets
def extract_first_name(name, first_names_set):
    words = name.split()
    for word in words:
        if word in first_names_set:
            return word
    return None  # Return None if no match is found

# Applying the function to create the 'first_name' column
Final_data['first_name'] = Final_data['English_Name'].apply(lambda x: extract_first_name(x, first_names_set))

In [27]:
Final_data.head(50)

,Name,Mobile Number,English_Name,first_name
0,Katike Vinoda,9502147428,Katike vinoda,Katike
1,Jadala Rani,8498806929,Jadala rani,None
2,M MANJULA,9676358301,M manjula,None
3,RATHOD JAI SRI,9010597691,Rathod jai sri,Rathod
4,VANDHURAYI SWETHA,8096847172,Vandhurayi swetha,None
5,VASANTH BAI,9618507013,Vasanth bai,Vasanth
6,Y SABITHA,9908473443,Y sabitha,None
7,G Shilpa,9652422874,G shilpa,None
8,BEGARI MAMITHA,9505044057,Begari mamitha,Begari
9,D SUMALATHA,9704244285,D sumalatha,None
10,D JYOTHI,9704587712,D jyothi,None
11,B BHAGYA LAXMI,9959840547,B bhagya laxmi,None
12,byagari sageetha,9951113423,Byagari sageetha,None
13,M Naveena,9959315157,M naveena,None
14,PEDDAPULI MANOJA,7036243919,Peddapuli manoja,None
15,BUCHANELLI NAVEENAJYOTHI,9666346909,Buchanelli naveenajyothi,None
16,P Karuna,9052296242,P karuna,None
17,mukkarigiri shirisha,9705546112,Mukkarigiri shirisha,None
18,K SUMITHRA,7674831440,K sumithra,None
19,BAROOR RIBACA,9912109942,Baroor ribaca,None
20,B ANITHA,9866348495,B anitha,None
21,SRILATHA M,9701167638,Srilatha m,Srilatha
22,Myathari Anitha,9701186875,Myathari anitha,Myathari
23,R SUMITHRA,8184881803,R sumithra,None
24,ANEGERI CHANDRAKALA,7036015406,Anegeri chandrakala,None
25,P SUJATHA,7702032367,P sujatha,None
26,CHAWAN NIRMALA BAI,9000236145,Chawan nirmala bai,None
27,B SWAROOPA BAI,9493229220,B swaroopa bai,None
28,PAWAR ANJUNA,9666951744,Pawar anjuna,Pawar
29,M VISHALAKSHI,9908743486,M vishalakshi,None
30,K SUJATHA,9440777616,K sujatha,None
31,BEGARI LALAMMA,9505289195,Begari lalamma,Begari
32,ALGERI CHITRAKALA,8501973732,Algeri chitrakala,None
33,P AVELA,8106159601,P avela,None
34,chawan renuka,8096506660,Chawan renuka,None
35,CHOUHAN PRVATHI BAI,9912102238,Chouhan prvathi bai,None
36,VIJALI BAI,9494630971,Vijali bai,None
37,C KAVITHA,9866109773,C kavitha,None
38,M SUNITHA,7893775409,M sunitha,None
39,B SUMITHRA BAI,9949931955,B sumithra bai,None
40,Gundra Priyanka,8978953901,Gundra priyanka,None
41,DOBBA MOGULAMMA,9912154482,Dobba mogulamma,None
42,Ganganguri Rebecca,9703722747,Ganganguri rebecca,None
43,N JYOTHI,8466837608,N jyothi,None
44,CHALKI SUNITHA,8096118271,Chalki sunitha,None
45,B CHANDRAKALA,9177472672,B chandrakala,None
46,B Laxmi,8897927248,B laxmi,None
47,KANTHAMMA,9652080538,Kanthamma,Kanthamma
48,G CHILUKAMMA,9989963928,G chilukamma,None
49,B VIJAYA LAXMI,9949987534,B vijaya laxmi,None

In [28]:
##16536 - 7152

Final_data['first_name'].isnull().sum()

7152

In [31]:
df = uniq_df

In [32]:
df.head()

   Unqiue_names Telugu_unique_names  telugu_wronginfo
0  Hrushikeswar        హ్రుశీకేశ్వర                 0
1        Hrudai              హ్రుదై                 0
2      Hruthika             హ్రుతిక                 0
3      Hrithvik          హ్రిత్విక్                 0
4         Hritu              హ్రితు                 0

In [33]:
# Create a dictionary mapping English names to Telugu names
name_mapping = df.set_index('Unqiue_names')['Telugu_unique_names'].to_dict()

In [34]:
name_mapping

{'Hrushikeswar': 'హ్రుశీకేశ్వర',
 'Hrudai': 'హ్రుదై',
 'Hruthika': 'హ్రుతిక',
 'Hrithvik': 'హ్రిత్విక్',
 'Hritu': 'హ్రితు',
 'Hrithik': 'హ్రితిక్',
 'Hrithikesh': 'హ్రితికేష్',
 'Hritaban': 'హ్రితబన్',
 'Humair': 'హ్యూమర్',
 'Humer': 'హ్యూమర్',
 'Harry': 'హ్యారీ',
 'Handay': 'హ్యాండే',
 'Handiqui': 'హ్యాండికి',
 'Hyamavathi': 'హ్యమవతి',
 'Hyachinth': 'హ్యచింత్',
 'Hyagreeva': 'హ్యగ్రీవ',
 'Hyandhavi': 'హ్యంధవి',
 'Hemima': 'హ్మీమ',
 'Hamiraram': 'హ్మిరారాం',
 'Hepciba': 'హ్ప్కిబ',
 'Hanief': 'హ్నీఫ్',
 'Hnamanthu': 'హ్నమంతుడు',
 'Hzrataranum': 'హ్జ్రతారనుం',
 'Hgndavi': 'హ్గ్నదవి',
 'Haus': 'హౌస్',
 'Hohith': 'హోహిత',
 'Hosen': 'హోస్సైన్',
 'Hosun': 'హోసున్',
 'Hosea': 'హోసియా',
 'Hosanna': 'హోసానా',
 'Hoshma': 'హోష్మా',
 'Hover': 'హోవర్',
 'Holla': 'హోల్లా',
 'Hoore': 'హోర్',
 'Hoizal': 'హోయిజల్',
 'Hom': 'హోమ్',
 'Homini': 'హోమినీ',
 'Homi': 'హోమి',
 'Homasri': 'హోమశ్రీ',
 'Homakesh': 'హోమకేష్',
 'Homa': 'హోమం',
 'Honya': 'హోన్యా',
 'Honna': 'హోన్నా',
 'Honappa': 'హోనప్ప',
 'Hoda': 'హోడ',
 'Hojarahemjamizoram': 'హోజారాహెమ్జామిజోరం',
 'Hoque': 'హోక్',
 'Katy': 'హొషాంగ్',
 'Honnemane': 'హొన్నెమనే',
 'Honnekery': 'హొన్నెకేరీ',
 'Honnavar': 'హొన్నావర్',
 'Hothnika': 'హొఠ్నికా',
 'Hycinth': 'హైసింత్',
 'Hiware': 'హైవేర్',
 'Hairadevi': 'హైరాదేవీ',
 'Hymender': 'హైమెండర్',
 'Hymed': 'హైమీద్',
 'Hymavath': 'హైమావత్',
 'Haimavathi': 'హైమావతి',
 'Haimavati': 'హైమావతి',
 'Hymavathi': 'హైమావతి',
 'Hymavathy': 'హైమావతి',
 'Hymavati': 'హైమావతి',
 'Hymavaty': 'హైమావతి',
 'Hymawathi': 'హైమావతి',
 'Haimaawathamma': 'హైమావతమ్మ',
 'Hymavathamma': 'హైమావతమ్మ',
 'Hymarao': 'హైమారావు',
 'Hymadevi': 'హైమాదేవి',
 'Hyma': 'హైమా',
 'Hymavayhi': 'హైమవైహి',
 'Haimavathee': 'హైమవతి',
 'Haimvathi': 'హైమవతి',
 'Hymavanthi': 'హైమవంతి',
 'Haimad': 'హైమద్',
 'Haymed': 'హైమద',
 'Hymathpasha': 'హైమత్పాషా',
 'Haimat': 'హైమత్',
 'Haimath': 'హైమత్',
 'Hymathi': 'హైమతి',
 'Hymada': 'హైమడ',
 'Hymakumari': 'హైమకుమారి',
 'Haima': 'హైమ',
 'Haibath': 'హైబాత్',
 'Haibathi': 'హైబతి',
 'Happy': 'హైప్పీ',
 'Hydavi': 'హైదవి',
 'Hyderkhan': 'హైదర్ఖాన్',
 'Haider': 'హైదర్',
 'Hyder': 'హైదర్',
 'Hyderuddin': 'హైదరుద్దీన్',
 'Haiderali': 'హైదరాలీ',
 'Hyderali': 'హైదరాలి',
 'Haitanya': 'హైతన్యా',
 'Hygreev': 'హైగ్రీవ్',
 'Haigreeva': 'హైగ్రీవా',
 'Hyndhavi': 'హైంధవి',
 'Haindavi': 'హైందావీ',
 'Hyandavi': 'హైందవి',
 'Hyndavi': 'హైందవి',
 'Hesabudin': 'హేసాబుదిన',
 'Heshwanth': 'హేశ్వంత్',
 'Hesham': 'హేశామ',
 'Hevamma': 'హేవమ్మ',
 'Hevanthi': 'హేవంతి',
 'Hevanti': 'హేవంతి',
 'Hela': 'హేల',
 'Heroor': 'హేరూర',
 'Heru': 'హేరు',
 'Heral': 'హేరల',
 'Heram': 'హేరం',
 'Hemni': 'హేమ్ని',
 'Hemnani': 'హేమ్\u200cనాని',
 'Hemchander': 'హేమ్చంద్ర్',
 'Hemchand': 'హేమ్చంద్',
 'Hem': 'హేమ్',
 'Hemonth': 'హేమొన్థ',
 'Hemendra': 'హేమేంద్ర',
 'Hemen': 'హేమెన్',
 'Hemender': 'హేమెందర్',
 'Hemu': 'హేము',
 'Hemeema': 'హేమీమా',
 'Hemi': 'హేమీ',
 'Hemish': 'హేమిష్',
 'Hemini': 'హేమిని',
 'Hemina': 'హేమినా',
 'Hemavani': 'హేమావాణీ',
 'Haymavathi': 'హేమావతి',
 'Hemavathi': 'హేమావతి',
 'Hemal': 'హేమాల్',
 'Hemalingeswar': 'హేమాలీంగేశ్వర',
 'Hemali': 'హేమాలి',
 'Hemarao': 'హేమారావు',
 'Hemaram': 'హేమారం',
 'Hemanusha': 'హేమానుషా',
 'Hemani': 'హేమాని',
 'Hemadri': 'హేమాద్రి',
 'Hemadevi': 'హేమాదేవి',
 'Hemambar': 'హేమాంబర్',
 'Hemamber': 'హేమాంబర్',
 'Hemambaradhararao': 'హేమాంబరధరరావు',
 'Hemang': 'హేమాంగ్',
 'Hemanka': 'హేమాంక',
 'Hayma': 'హేమా',
 'Hemasyama': 'హేమస్యామా',
 'Hemasudha': 'హేమసుధ',
 'Hemasundhara': 'హేమసుంధర',
 'Hemasundar': 'హేమసుందర్',
 'Hemasunder': 'హేమసుందర్',
 'Hemasundara': 'హేమసుందర',
 'Hemasai': 'హేమసాయి',
 'Hemashree': 'హేమశ్రీ',
 'Hemasree': 'హేమశ్రీ',
 'Hemasri': 'హేమశ్రీ',
 'Hemavenkata': 'హేమవెంకట',
 'Hemaveera': 'హేమవీర',
 'Heamavanth': 'హేమవంత్',
 'Hemlal': 'హేమలాల',
 'Hemalalatha': 'హేమలలత',
 'Hemalthadevi': 'హేమలతాదేవి',
 'Hemlata': 'హేమలతా',
 'Hemalathanaidu': 'హేమలతనాయుడు',
 'Heamalatha': 'హేమలత',
 'Hemalata': 'హేమలత',
 'Hemalatha': 'హేమలత',
 'Hemaltha': 'హేమలత',
 'Hemlatha': 'హేమలత',
 'Hemalakshmi': 'హేమలక్ష్మి',
 'Hemalamba': 'హేమలంబ',
 'Hemaroopa': 'హేమరూప',
 'Hemarani': 'హేమరాణి',
 'Hemraj': 'హేమరాజ్',
 'Hemayu': 'హేమయు',
 'Hemamalinee': 'హేమమాలిని',
 'Hemamalini': 'హేమమాలిని',
 'Hemamalika': 'హేమమాలిక',
 'Hemabindu': 'హేమబిందు',
 'Hemabala': 'హేమబాల',
 'Hemapiriya': 'హేమప్రియా',
 'Hemansh': 'హేమన్శ',
 'Hemanadh': 'హేమనాధ్',
 'Hemanath': 'హేమనాథ్',
 'Heamanker': 'హేమనకర',
 'Hemadurga': 'హేమదుర్గ',
 'Hemath': 'హేమత్',
 'Hemanesh': 'హేమణేష్',
 'Hemachandra': 'హేమచంద్ర',
 'Hemachandar': 'హేమచందర్',
 'Hemchandar': 'హేమచందర్',
 'Hemakumar': 'హేమకుమార్',
 'Hemkumar': 'హేమకుమార్',
 'Hemakumari': 'హేమకుమారి',
 'Hemakiran': 'హేమకిరణ్',
 'Hemambika': 'హేమఎంబీకా',
 'Hemanthsai': 'హేమంత్\u200cసాయి',
 'Hemanthn': 'హేమంత్న్',
 'Heamanth': 'హేమంత్',
 'Hemant': 'హేమంత్',
 'Hemanth': 'హేమంత్',
 'Hemanthh': 'హేమంత్',
 'Hemanti': 'హేమంతీ',
 'Hemanthi': 'హేమంతి',
 'Hemanthareddy': 'హేమంతరెడ్డి',
 'Hemanthkumar': 'హేమంతకుమార్',
 'Hemanta': 'హేమంత',
 'Hemantha': 'హేమంత',
 'Hemanto': 'హేమంటొ',
 'Hemangini': 'హేమంగినీ',
 'Hemangi': 'హేమంగి',
 'Hema': 'హేమ',
 'Hebsheba': 'హేబ్శేబా',
 'Hebeebuddin': 'హేబీబూదదీన',
 'Heba': 'హేబా',
 'Hepsi': 'హేప్సీ',
 'Hepseeba': 'హేపీసీబా',
 'Hepzibah': 'హేపీజిబహ్',
 'Henmula': 'హేన్మూలా',
 'Hanmabai': 'హేన్మాబాఈ',
 'Henmaiah': 'హేన్మయ్య',
 'Henna': 'హేన్నా',
 'Henal': 'హేనాల్',
 'Henakauser': 'హేనాకౌసర్',
 'Hetal': 'హేతల్',
 'Hetram': 'హేతరామ',
 'Hazirabee': 'హేజిరాబీ',
 'Hechu': 'హేచు',
 'Hague': 'హేగ్',
 'Heakash': 'హేకాశ',
 'Hessing': 'హెస్సింగ్',
 'Helma': 'హెల్మ్',
 'Helen': 'హెలెన్',
 'Heleena': 'హెలీనా',
 'Helina': 'హెలీనా',
 'Helima': 'హెలిమా',
 'Helena': 'హెలినా',
 'Herlhoihc': 'హెర్ల్హోయిహ్క్',
 'Hermila': 'హెర్మిలా',
 'Herbert': 'హెర్బర్ట్',
 'Heraid': 'హెరైడ్',
 'Herekar': 'హెరెకర్',
 'Harold': 'హెరాల్డ్',
 'Hemabjamma': 'హెమ్బజమ్మ',
 'Heman': 'హెమాన్',
 'Hemavati': 'హెమవతి',
 'Hemalath': 'హెమలత',
 'Hebsibha': 'హెబ్సిభ',
 'Hebbly': 'హెబ్లీ',
 'Hebron': 'హెబ్రోన్',
 'Hebrahim': 'హెబ్రాహిం',
 'Hebbar': 'హెబ్బార్',
 'Hebbath': 'హెబ్బాత్',
 'Hebbatam': 'హెబ్బటం',
 'Hebnezer': 'హెబ్నేజర్',
 'Hephsiba': 'హెఫ్సిబా',
 'Hephzibha': 'హెఫ్జిభా',
 'Hephzibah': 'హెఫ్జిబ',
 'Heph': 'హెఫ్',
 'Hepsyba': 'హెప్సీబా',
 'Hepcy': 'హెప్సీ',
 'Hepsibha': 'హెప్సిభా',
 'Hepsibah': 'హెప్సిబా',
 'Hepsiba': 'హెప్సిబ',
 'Hepaibha': 'హెపైభా',
 'Hepisba': 'హెపిస్బా',
 'Henryjustin': 'హెన్రీజస్టిన్',
 'Henry': 'హెన్రీ',
 'Henrietta': 'హెన్రిఎత్తా',
 'Hena': 'హెనా',
 'Hedau': 'హెదౌ',
 'Heta': 'హెత',
 'Heda': 'హెడ',
 'Het': 'హెట్',
 'Hethal': 'హెటల్',
 'Hejeebu': 'హెజీబు',
 'Poonamdevi': 'హెచ్',
 'Hendewar': 'హెండేవార్',
 'Heamilin': 'హెంఇలిన్',
 'Hrusikesh': 'హృసికేశ్',
 'Hrushikesh': 'హృషీకేష్',
 'Hrishita': 'హృషితా',
 'Hrishitha': 'హృషిత',
 'Hrushitha': 'హృషిత',
 'Hrushikesa': 'హృషికేస',
 'Hrishikesh': 'హృషికేశ్',
 'Hrushika': 'హృషికా',
 'Hrishika': 'హృషిక',
 'Hrushi': 'హృషి',
 'Hrullekha': 'హృల్లేఖ',
 'Hridhay': 'హృదయ్',
 'Hruday': 'హృదయ్',
 'Hrudhay': 'హృదయ్',
 'Hrudhaya': 'హృదయా',
 'Hrudayaraju': 'హృదయరాజు',
 'Hrudaybabu': 'హృదయబాబు',
 'Hridaya': 'హృదయ',
 'Hrudaya': 'హృదయ',
 'Hrde': 'హృదఏ',
 'Hruthivk': 'హృత్విక్',
 'Hritesh': 'హృతేష్',
 'Hritish': 'హృతిష్',
 'Hritik': 'హృతిక్',
 'Hruthik': 'హృతిక్',
 'Hrutik': 'హృతిక్',
 'Hrithika': 'హృతిక',
 'Hussinbi': 'హూస్సీన్బీ',
 'Husman': 'హూస్మన',
 'Hussainama': 'హూసైనమ్మ',
 'Husmukh': 'హూసమూఖ',
 'Hoovamma': 'హూవమ్మా',
 'Hoovagar': 'హూవగర్',
 'Hoorfariyal': 'హూర్ఫరియాల్',
 'Hoor': 'హూర్',
 'Hooreen': 'హూరీన్',
 'Hooriya': 'హూరియా',
 'Hurmat': 'హూరమట',
 'Hoorbanu': 'హూరబానూ',
 'Hoon': 'హూన్',
 'Hujef': 'హూజేఫ్',
 'Hoogav': 'హూగవ',
 'Hoogar': 'హూగర్',
 'Hussdan': 'హుస్స్డ్న్',
 'Hussaina': 'హుస్సైనయ్య',
 'Hussaian': 'హుస్సేయన్',
 'Hussainsab': 'హుస్సేన్సాబ్',
 'Hussainbi': 'హుస్సేన్బీ',
 'Hassain': 'హుస్సేన్',
 'Hossain': 'హుస్సేన్',
 'Hussain': 'హుస్సేన్',
 'Hussainn': 'హుస్సేన్',
 'Hussein': 'హుస్సేన్',
 'Huusain': 'హుస్సేన్',
 'Hussainiquadri': 'హుస్సేనిఖాద్రి',
 'Husseni': 'హుస్సేని',
 'Hussainaiah': 'హుస్సేనయ్య',
 'Hussainappa': 'హుస్సేనప్ప',
 'Hussuen': 'హుస్సుఎన్',
 'Hussian': 'హుస్సియన్',
 'Hussin': 'హుస్సిన్',
 'Hussai': 'హుస్సాయి',
 'Hussan': 'హుస్సాన్',
 'Hussangre': 'హుస్సాంగ్రే',
 'Husya': 'హుస్య',
 'Husbaan': 'హుస్బాన్',
 'Husnain': 'హుస్నైన్',
 'Husna': 'హుస్నా',
 'Hussna': 'హుస్నా',
 'Hussen': 'హుసైన్',
 'Husaini': 'హుసైని',
 'Hussenamma': 'హుసైనమ్మ',
 'Husein': 'హుసేయిన్',
 'Huusaianamma': 'హుసేయనమ్మ',
 'Husain': 'హుసేన్',
 'Husen': 'హుసేన్',
 'Husena': 'హుసేనా',
 'Husenamma': 'హుసేనమ్మా',
 'Husenabee': 'హుసేనబీ',
 'Husenappa': 'హుసేనప్పా',
 'Hosang': 'హుసెంగ్',
 'Husian': 'హుసియన్',
 'Husamuddin': 'హుసాముద్దీన్',
 'Husanappa': 'హుసానప్ప',
 'Husan': 'హుసన్',
 'Hushain': 'హుషైన్',
 'Hushendra': 'హుషేంద్ర',
 'Huvgar': 'హువ్గర్',
 'Huli': 'హులి',
 'Hulas': 'హులాస్',
 'Hurairah': 'హురైరా',
 'Hoorbano': 'హురూబానో',
 'Hurirah': 'హురీరా',
 'Humairah': 'హుమైరా',
 'Humaira': 'హుమైర',
 'Humeria': 'హుమేరియా',
 'Humera': 'హుమేరా',
 'Humeera': 'హుమెర',
 'Humayun': 'హుమాయున్',
 'Humabegum': 'హుమాబేగమ',
 'Huma': 'హుమా',
 'Humara': 'హుమర',
 'Hubeda': 'హుబెడ',
 'Hufriya': 'హుఫరియా',
 'Hunmanthu': 'హున్మంతుడు',
 'Hunumath': 'హునుమత్',
 'Hunumanth': 'హునుమంత్',
 'Hunisa': 'హునిసా',
 'Huni': 'హుని',
 'Huddin': 'హుద్దీన్',
 'Huda': 'హుడా',
 'Hutasan': 'హుటాసన్',
 'Huzmas': 'హుజ్మాస్',
 'Huzma': 'హుజ్మా',
 'Huzur': 'హుజూర్',
 'Hucha': 'హుచా',
 'Hukimichand': 'హుకిమిచంద్',
 'Hukareshwari': 'హుకారేశ్వరి',
 'Hukamaram': 'హుకామరం',
 'Hukam': 'హుకం',
 'Hunka': 'హుంకా',
 'Hisaian': 'హీసాఈన',
 'Heelamma': 'హీలమ్మ',
 'Heerya': 'హీర్యా',
 'Hirdya': 'హీర్డ్యా',
 'Heer': 'హీర్',
 'Heroshini': 'హీరోశిని',
 'Hirala': 'హీరోల',
 'Heroman': 'హీరోమాన్',
 'Heeru': 'హీరో',
 'Hero': 'హీరో',
 'Heereku': 'హీరేకు',
 'Heerekar': 'హీరేకర్',
 'Heerendra': 'హీరేంద్ర',
 'Hirender': 'హీరేందర్',
 'Heerendhar': 'హీరేంఢర',
 'Heereker': 'హీరెకర్',
 'Heeralal': 'హీరాలాల్',
 'Hiralal': 'హీరాలాల్',
 'Heerala': 'హీరాలా',
 'Heralal': 'హీరాల',
 'Heeraram': 'హీరారామ్',
 'Heeraman': 'హీరామన్',
 'Heeramanee': 'హీరామనీ',
 'Hiramani': 'హీరామణి',
 'Heeraben': 'హీరాబెన్',
 'Hiradani': 'హీరానందాని',
 'Heeradevi': 'హీరాదేవి',
 'Heerakar': 'హీరాకర్',
 'Heera': 'హీరా',
 'Hera': 'హీరా',
 'Hira': 'హీరా',
 'Hirasingh': 'హీరసింగ్',
 'Hermancia': 'హీరమంచియా',
 'Heerabai': 'హీరబాయి',
 'Heeran': 'హీరన్',
 'Heem': 'హీమ్',
 'Hymad': 'హీమేద',
 'Heemalatha': 'హీమలత',
 'Hinija': 'హీనిజా',
 'Heenaben': 'హీనాబెన్',
 'Heenabanu': 'హీనాబాను',
 'Heenakausar': 'హీనాకౌసర్',
 'Hina': 'హీనా',
 'Hinashekari': 'హీనశేఖరి',
 'Heenal': 'హీనల',
 'Heenath': 'హీనత్',
 'Heena': 'హీన',
 'Hikmat': 'హీక్మట',
 'Hihlug': 'హిహ్లగ్',
 'Hisamuddin': 'హిసాముద్దీన్',
 'Hisabuddin': 'హిసబుద్దిన్',
 'Himwantsai': 'హివంతసాయి',
 'Hilda': 'హిల్డా',
 'Hilton': 'హిల్టన్',
 'Hirji': 'హిర్జీ',
 'Hirehala': 'హిరేహల',
 'Hiremath': 'హిరేమత్',
 'Hirekar': 'హిరేకర్',
 'Hiren': 'హిరెన్',
 'Hiru': 'హిరు',
 'Hirasker': 'హిరాస్కర్',
 'Hirawat': 'హిరావత్',
 'Hiral': 'హిరాల్',
 'Hiran': 'హిరాన్',
 'Hiraskar': 'హిరస్కర్',
 'Heeral': 'హిరల్',
 'Hiranmayi': 'హిరన్',
 'Hirani': 'హిరని',
 'Hiranya': 'హిరణ్య',
 'Hiranmoy': 'హిరణ్మోయ్',
 'Hiranmayai': 'హిరణ్మయై',
 'Hiranmayee': 'హిరణ్మయీ',
 'Hiranmai': 'హిరణ్మయి',
 'Hiranmaie': 'హిరంమయ్',
 'Himmati': 'హిమ్మాతీ',
 'Himmath': 'హిమ్మథ',
 'Himmat': 'హిమ్మత్',
 'Himmanth': 'హిమ్మంత్',
 'Himtharam': 'హిమ్ఠారాం',
 'Himkar': 'హిమ్కర్',
 'Himeshkumar': 'హిమేష్కుమార్',
 'Himesh': 'హిమేష్',
 'Himendrasai': 'హిమేంద్రాసాయ',
 'Himaswini': 'హిమాస్విని',
 'Himavath': 'హిమావథ',
 'Himavathy': 'హిమావతి',
 'Himalay': 'హిమాలయ్',
 'Himayathulla': 'హిమాయతుల్లా',
 'Himamsh': 'హిమామ్ష్',
 'Himamunnisa': 'హిమామున్నిసా',
 'Himami': 'హిమామి',
 'Himanshu': 'హిమాన్సు',
 'Himansu': 'హిమాన్సు',
 'Himanshuroy': 'హిమాన్షురోయ్',
 'Himanish': 'హిమానిశ్',
 'Himanayan': 'హిమానయన్',
 'Himad': 'హిమాద్',
 'Himathlal': 'హిమాత్లల్',
 'Himachala': 'హిమాచల',
 'Himamsa': 'హిమాంస',
 'Himamshi': 'హిమాంశీ',
 'Himambee': 'హిమాంబి',
 'Himambi': 'హిమాంబి',
 'Hima': 'హిమా',
 'Himasindhu': 'హిమసీన్ధూ',
 'Himasindura': 'హిమసిందూర',
 'Himasai': 'హిమసాయి',
 'Himasagarika': 'హిమసాగరిక',
 'Himasree': 'హిమశ్రీ',
 'Himasri': 'హిమశ్రీ',
 'Himasaila': 'హిమశైల',
 'Himavra': 'హిమవ్ర',
 'Himavarsh': 'హిమవర్ష్',
 'Himavarshitha': 'హిమవర్షిత',
 'Himavarshini': 'హిమవర్షిణి',
 'Himavarsha': 'హిమవర్శ',
 'Himavardhan': 'హిమవర్ధన్',
 'Himavathi': 'హిమవతి',
 'Himavanth': 'హిమవంత్',
 'Himawanth': 'హిమవంత్',
 'Himavanta': 'హిమవంత',
 'Himalatha': 'హిమలత',
 'Himalakshmi': 'హిమలక్ష్మి',
 'Himayath': 'హిమయత',
 'Himayanth': 'హిమయంత్',
 'Himamadhuri': 'హిమమాధురి',
 'Himabhindu': 'హిమభిందు',
 'Himabindhu': 'హిమబిందు',
 'Himabindu': 'హిమబిందు',
 'Himabala': 'హిమబాల',
 'Himapriya': 'హిమప్రియా',
 'Himapavani': 'హిమపావని',
 'Hemanshi': 'హిమన్షి',
 'Himanshi': 'హిమన్షి',
 'Himani': 'హిమని',
 'Hymath': 'హిమత్',
 'Himatej': 'హిమతేజ్',
 'Himateja': 'హిమతేజ',
 'Himajadevi': 'హిమజాదేవి',
 'Himaja': 'హిమజ',
 'Himakuntala': 'హిమకూంతల',
 'Himakireeti': 'హిమకిరీటి',
 'Himakavya': 'హిమకావ్య',
 'Himakar': 'హిమకార్',
 'Himakalyani': 'హిమకళ్యాణి',
 'Himansh': 'హిమంష',
 'Himantha': 'హిమంత',
 'Himangsu': 'హిమంగ్సూ',
 'Himangshu': 'హిమంగ్షు',
 'Hiba': 'హిబా',
 'Hippargi': 'హిప్పర్గి',
 'Hiduja': 'హిదుజా',
 'Hidayath': 'హిదాయత్',
 'Hidayathulla': 'హిదాయతుల్లా',
 'Hidayathullah': 'హిదాయతుల్లా',
 'Hidayatullah': 'హిదాయతుల్లా',
 'Hidayat': 'హిదయత్',
 'Hithish': 'హిథీశ',
 'Hiteshkumar': 'హితేష్కుమార్',
 'Hitesh': 'హితేష్',
 'Hitesshh': 'హితేష్',
 'Hiteswara': 'హితేశ్వర్',
 'Hitheshwar': 'హితేశ్వర్',
 'Hitendra': 'హితేంద్ర',
 'Hithendra': 'హితేంద్ర',
 'Hltendra': 'హితేంద్ర',
 'Hithender': 'హితేందర్',
 'Hithishini': 'హితీషిణి',
 'Hithika': 'హితీకా',
 'Hitisha': 'హితిశా',
 'Hitanshi': 'హితాన్శీ',
 'Hitanshu': 'హితాంశు',
 'Hithasree': 'హితశ్రీ',
 'Hithaprasanna': 'హితప్రసన్న',
 'Hitha': 'హిత',
 'Hittu': 'హిట్టు',
 'Hiten': 'హిటెన్',
 'Higreeva': 'హిగ్రీవా',
 'Hindhooja': 'హింధూజా',
 'Hind': 'హింద్',
 'Hindhusri': 'హిందూశ్రీ',
 'Hinduja': 'హిందూజా',
 'Hindu': 'హిందూ',
 'Hindhusha': 'హిందుషా',
 'Hinduvani': 'హిందువాణి',
 'Hindumathi': 'హిందుమతి',
 'Hindar': 'హిందార్',
 'Hingey': 'హింగీ',
 'Haharitha': 'హాహరిత',
 'Hasya': 'హాస్య',
 'Hasen': 'హాసెన్',
 'Hassen': 'హాసెన్',
 'Haasini': 'హాసీనీ',
 'Haseeta': 'హాసీత',
 'Haasiya': 'హాసియా',
 'Hasiya': 'హాసియ',
 'Hasibun': 'హాసిబున్',
 'Hasin': 'హాసిన్',
 'Hasini': 'హాసిని',
 'Hasiina': 'హాసిన',
 'Hasika': 'హాసిక',
 'Hasaji': 'హాసాజీ',
 'Haasan': 'హాసన్',
 'Hasanuzzaman': 'హాసనుజ్మాన్',
 'Hasanthi': 'హాసంతి',
 'Hashmuddin': 'హాష్\u200cముద్దీన్\u200c',
 'Hashim': 'హాషిమ్',
 'Hashif': 'హాషిఫ్',
 'Hashika': 'హాషిక',
 'Haasritha': 'హాశ్రిత',
 'Hashik': 'హాశిక',
 'Havila': 'హావిల',
 'Halder': 'హాల్డర్',
 'Halen': 'హాలెన్',
 'Haleemunissa': 'హాలీమున్నీసా',
 'Haliya': 'హాలియా',
 'Halaharvi': 'హాలహర్వి',
 'Harshli': 'హార్ష్\u200cలీ',
 'Hardhika': 'హార్ధికా',
 'Hardhik': 'హార్దిక్',
 'Hardik': 'హార్దిక్',
 'Harthik': 'హార్తిక్',
 'Harthika': 'హార్తిక',
 'Harnaam': 'హార్ణమ్',
 'Haarun': 'హారున్',
 'Harrit': 'హారీత్',
 'Haaris': 'హారిస్',
 'Harriet': 'హారియట్',
 'Harideo': 'హారిదేవో',
 'Harinipriya': 'హారిణిప్రియా',
 'Haarik': 'హారిక్',
 'Haarika': 'హారిక',
 'Harika': 'హారిక',
 'Haarthi': 'హారతి',
 'Harathy': 'హారతి',
 'Harati': 'హారతి',
 'Harza': 'హారజా',
 'Hai': 'హాయ్',
 'Hamll': 'హామ్ల్',
 'Hamed': 'హామెడ్',
 'Hameeduddin': 'హామీదుద్దీన్',
 'Hamil': 'హామిల్',
 'Hafsah': 'హాఫ్సా',
 'Hafsahsubuhi': 'హాఫ్సహ్సబుహీ',
 'Hafrin': 'హాఫ్రిన',
 'Haffez': 'హాఫెజ్',
 'Haffies': 'హాఫీలు',
 'Hafroz': 'హాఫరొజ',
 'Hapejul': 'హాపెజుల్',
 'Hansy': 'హాన్సీ',
 'Han': 'హాన్',
 'Haani': 'హానీ',
 'Harmindr': 'హానింద్ర',
 'Hani': 'హాని',
 'Hadhvika': 'హాధ్వీకా',
 'Hadia': 'హాదియా',
 'Hathindur': 'హాతీందూర్',
 'Hathi': 'హాతీ',
 'Hanith': 'హాణీఠ',
 'Haniel': 'హాణీఏల',
 'Hatte': 'హాట్టే',
 'Hajerah': 'హాజెరా',
 'Hajira': 'హాజీరా',
 'Hajibaba': 'హాజీబాబా',
 'Haaji': 'హాజీ',
 'Hajee': 'హాజీ',
 'Haji': 'హాజీ',
 'Hajim': 'హాజిమ్',
 'Hazimuddin': 'హాజిముద్దీన్',
 'Hazima': 'హాజిమ',
 'Hazib': 'హాజిబ్',
 'Hazi': 'హాజి',
 'Hagidi': 'హాగిడీ',
 'Hakshath': 'హాక్షాత్',
 'Haqur': 'హాక్ర్',
 'Haq': 'హాక్',
 'Hayet': 'హాఎట్',
 'Hassine': 'హస్సిన్',
 'Hassan': 'హస్సన్',
 'Hassanuddin': 'హస్సనుద్దీన్',
 'Hussaini': 'హస్సని',
 'Haswitha': 'హస్విత',
 'Haswika': 'హస్వికా',
 'Haslee': 'హస్లీ',
 'Hasli': 'హస్లీ',
 'Haslaker': 'హస్లాకర్',
 'Hasra': 'హస్రా',
 'Hasrath': 'హస్రత్',
 'Hasmuddin': 'హస్ముద్దీన్',
 'Hasmith': 'హస్మిత్',
 'Hasmitha': 'హస్మిత',
 'Hasmabegum': 'హస్మాబేగం',
 'Hasma': 'హస్మా',
 'Hasmat': 'హస్మత్',
 'Hasmath': 'హస్మత్',
 'Hasmatunnisa': 'హస్మతున్నీసా',
 'Hasmatun': 'హస్మతున్',
 'Hasbiya': 'హస్బియ',
 'Hasnain': 'హస్నైన్',
 'Hasnur': 'హస్నూర్',
 'Hasnuddin': 'హస్నుద్దీన్',
 'Hasni': 'హస్ని',
 'Husnara': 'హస్నారా',
 'Hasnani': 'హస్నాని',
 'Hasna': 'హస్నా',
 'Hasda': 'హస్దా',
 'Hastaram': 'హస్తరం',
 'Hastha': 'హస్తపురపు',
 'Hasem': 'హసేమ',
 'Hasena': 'హసేనా',
 'Hasimuddin': 'హసీముద్దీన్',
 'Haseem': 'హసీమ',
 'Haseeb': 'హసీబ్',
 'Haseebuddin': 'హసీబుడ్డీన్',
 'Haseefuddin': 'హసీఫుద్దీన్',
 'Haseenbee': 'హసీన్బీ',
 'Haseen': 'హసీన్',
 'Haseenibee': 'హసీనీబీ',
 'Haseena': 'హసీనా',
 'Hasina': 'హసీనా',
 'Haseed': 'హసీద',
 'Hasibul': 'హసిబుల్',
 'Hasiba': 'హసిబా',
 'Hasifuddin': 'హసిఫుద్దిన్',
 'Hasif': 'హసిఫ',
 'Hasinabi': 'హసినాబి',
 'Hassina': 'హసినా',
 'Hasith': 'హసిత్',
 'Hasita': 'హసిత',
 'Hasitha': 'హసిత',
 'Hasavath': 'హసావత్',
 'Hasami': 'హసామి',
 'Masarath': 'హసరథ',
 'Hasamuddin': 'హసముద్దీన్',
 'Hasanbhai': 'హసన్భాఈ',
 'Hasanti': 'హసన్తి',
 'Hasan': 'హసన్',
 'Hasanuddin': 'హసనుద్దీన్',
 'Hasanali': 'హసనలీ',
 'Hasansabnadaf': 'హసంసబ్నదఫ్',
 'Hasanth': 'హసంత్',
 'Hasam': 'హసం',
 'Hasmukh': 'హష్\u200cముఖ్',
 'Hashmitha': 'హష్మిత',
 'Hashmi': 'హష్మి',
 'Hashma': 'హష్మా',
 'Hashish': 'హషీష్',
 'Hasheem': 'హషీమ్',
 'Hashmath': 'హశ్మాత',
 'Hashir': 'హశీర',
 'Hashita': 'హశీతా',
 'Hashinaben': 'హశినదెన్',
 'Hashmat': 'హశమత్',
 'Hasham': 'హశం',
 'Havya': 'హవ్య',
 'Havula': 'హవుల',
 'Haviesh': 'హవీష్',
 'Haveesh': 'హవీశ్',
 'Havilah': 'హవీలాహ',
 'Haveela': 'హవీలా',
 'Havish': 'హవిష్',
 'Havisha': 'హవిషా',
 'Havil': 'హవిల్',
 'Haviudabhi': 'హవియుదాభి',
 'Havi': 'హవి',
 'Hawaldhar': 'హవాల్ధార్',
 'Hawari': 'హవారీ',
 'Hawabee': 'హవాబీ',
 'Hawaz': 'హవాజ్',
 'Hawa': 'హవా',
 'Hawaldar': 'హవల్దార్',
 'Havalgi': 'హవల్గి',
 'Havappa': 'హవప్పా',
 'Halvi': 'హల్వి',
 'Hallema': 'హల్లెమా',
 'Hallikar': 'హల్లికర్',
 'Halli': 'హల్లి',
 'Hallale': 'హల్లాలే',
 'Halyamma': 'హల్యమ్మ',
 'Halpani': 'హల్పాని',
 'Haldhanker': 'హల్ధంకర్',
 'Haldar': 'హల్దార్',
 'Halgi': 'హల్గి',
 'Halgar': 'హల్గర్',
 'Hulkundakar': 'హల్కుందకర్',
 'Hul': 'హల్',
 'Halema': 'హలేమా',
 'Haleem': 'హలీమ్',
 'Halim': 'హలీమ్',
 'Haleemunnisa': 'హలీమున్నీసా',
 'Haleemunisa': 'హలీమునిసా',
 'Halimabhi': 'హలీమాభి',
 'Haleemabee': 'హలీమాబీ',
 'Halimabi': 'హలీమాబీ',
 'Haleema': 'హలీమా',
 'Halima': 'హలీమా',
 'Haleena': 'హలీనా',
 'Haleembee': 'హలీంబీ',
 'Haliyamma': 'హలియమ్మ',
 'Halinder': 'హలిందర్',
 'Halavath': 'హలావత్',
 'Halawath': 'హలావత్',
 'Halani': 'హలాని',
 'Hala': 'హలా',
 'Haladhar': 'హలధర్',
 'Halkiya': 'హలకియా',
 'Hall': 'హ\u0c49ల',
 'Harham': 'హర్హం',
 'Harsuk': 'హర్సుక్',
 'Harsimran': 'హర్సిమ్రన్',
 'Harsan': 'హర్సన్',
 'Harshaurdhan': 'హర్షౌర్ధన్',
 'Harsaitha': 'హర్షైత',
 'Harshul': 'హర్షూల్',
 'Harsheeda': 'హర్షీదా',
 'Harsheetha': 'హర్షీత',
 'Harshiny': 'హర్షిని',
 'Harsini': 'హర్షిని',
 'Harshidaben': 'హర్షిదాబెన్',
 'Harshit': 'హర్షిత్',
 'Harshith': 'హర్షిత్',
 'Harsit': 'హర్షిత్',
 'Harshita': 'హర్షిత',
 'Harshitha': 'హర్షిత',
 'Harshithha': 'హర్షిత',
 'Harsitha': 'హర్షిత',
 'Harshini': 'హర్షిణి',
 'Harshik': 'హర్షిక్',
 'Harsih': 'హర్షిః',
 'Harshie': 'హర్షి',
 'Harshath': 'హర్షాథ్',
 'Harrsha': 'హర్షా',
 'Harshasri': 'హర్షశ్రీ',
 'Harsheela': 'హర్షశీల',
 'Harshavani': 'హర్షవాణి',
 'Harshavadhan': 'హర్షవర్ధన్',
 'Harshavardhan': 'హర్షవర్ధన్',
 'Harshvardhan': 'హర్షవర్ధన్',
 'Harshavardan': 'హర్షవర్దన్',
 'Harshala': 'హర్షలా',
 'Harsharshini': 'హర్షర్షిణి',
 'Harshamma': 'హర్షమ్మ',
 'Harshmunnisa': 'హర్షమున్నిసా',
 'Harshababu': 'హర్షబాబు',
 'Harshan': 'హర్షన్',
 'Harshadbhai': 'హర్షద్భాయ్',
 'Harshad': 'హర్షద్',
 'Harshadeep': 'హర్షదీప్',
 'Harshada': 'హర్షదా',
 'Rupamani': 'హర్షద',
 'Harshani': 'హర్షణీ',
 'Harshaj': 'హర్షజ్',
 'Harshkumar': 'హర్షకుమార్',
 'Harsh': 'హర్ష',
 'Harsha': 'హర్ష',
 'Harshil': 'హర్శిల్',

In [35]:
# Function to get Telugu names for English names
def get_telugu_name(english_name):
    return name_mapping.get(english_name, 'Name Not Found')

# Apply the function to create a new column 'Telugu_Name' in the DataFrame
Final_data['Telugu_Name'] = Final_data['first_name'].apply(get_telugu_name)

In [36]:
Final_data.head()

,Name,Mobile Number,English_Name,first_name,Telugu_Name
0,Katike Vinoda,9502147428,Katike vinoda,Katike,కటికే
1,Jadala Rani,8498806929,Jadala rani,None,Name Not Found
2,M MANJULA,9676358301,M manjula,None,Name Not Found
3,RATHOD JAI SRI,9010597691,Rathod jai sri,Rathod,రాఠౌద్
4,VANDHURAYI SWETHA,8096847172,Vandhurayi swetha,None,Name Not Found

In [37]:
Final_data.isnull().sum()

Name                0
Mobile Number       0
English_Name        0
first_name       7152
Telugu_Name         0
dtype: int64

In [38]:
Final_data.columns

Index(['Name', 'Mobile Number', 'English_Name', 'first_name', 'Telugu_Name'], dtype='object')

In [39]:
Final_data.dropna(inplace= True)

In [40]:
Final_data.head()

              Name Mobile Number    English_Name first_name Telugu_Name
0    Katike Vinoda    9502147428   Katike vinoda     Katike       కటికే
3   RATHOD JAI SRI    9010597691  Rathod jai sri     Rathod      రాఠౌద్
5      VASANTH BAI    9618507013     Vasanth bai    Vasanth       వసంత్
8   BEGARI MAMITHA    9505044057  Begari mamitha     Begari      బేగారి
21      SRILATHA M    9701167638      Srilatha m   Srilatha      శ్రీలత

In [41]:
# Function to clean and convert a string to an integer
def clean_and_convert(value):
    cleaned_string = ''.join(filter(str.isdigit, str(value)))
    try:
        return int(cleaned_string)
    except ValueError:
        return None  # or any default value you prefer for invalid cases

# Apply the function to the specified column
Final_data['Mobile Number'] = Final_data['Mobile Number'].apply(lambda x: clean_and_convert(x))

In [42]:
Final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9383 entries, 0 to 16535
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           9383 non-null   object
 1   Mobile Number  9383 non-null   int64
 2   English_Name   9383 non-null   object
 3   first_name     9383 non-null   object
 4   Telugu_Name    9383 non-null   object
dtypes: int64(1), object(4)
memory usage: 439.8+ KB

In [43]:
data = Final_data

In [44]:
data.head()

              Name  Mobile Number    English_Name first_name Telugu_Name
0    Katike Vinoda     9502147428   Katike vinoda     Katike       కటికే
3   RATHOD JAI SRI     9010597691  Rathod jai sri     Rathod      రాఠౌద్
5      VASANTH BAI     9618507013     Vasanth bai    Vasanth       వసంత్
8   BEGARI MAMITHA     9505044057  Begari mamitha     Begari      బేగారి
21      SRILATHA M     9701167638      Srilatha m   Srilatha      శ్రీలత

In [45]:
data.isnull().sum()

Name             0
Mobile Number    0
English_Name     0
first_name       0
Telugu_Name      0
dtype: int64

In [47]:
import json
import pandas as pd

# Assuming 'data' is a Pandas DataFrame with columns 'first_name2' and 'Mobile No'
name_phone_dict = {}

for index, row in data.iterrows():
    name = row['first_name']
    phone_number = str(row['Mobile Number'])  # Convert phone number to string
    
    if name in name_phone_dict:
        name_phone_dict[name].append(phone_number)
    else:
        name_phone_dict[name] = [phone_number]

# Save the dictionary as a JSON file
with open('KalyanaLakshmi_name_phone_numbers.json', 'w') as json_file:
    json.dump(name_phone_dict, json_file, indent=4)

# Counting phone numbers for each name
phone_number_counts = {name: len(numbers) for name, numbers in name_phone_dict.items()}

# Total count of phone numbers in the DataFrame
total_phone_numbers = len(data)

# Calculating total count of phone numbers from the dictionary
count_from_dict = sum(len(numbers) for numbers in name_phone_dict.values())

# Comparing counts
if total_phone_numbers == count_from_dict:
    print("Total counts match! All phone numbers are accounted for.")
    print("Saved name_phone_numbers.json successfully.")
else:
    print("Total counts do not match! There might be missing or duplicate phone numbers.")

Total counts match! All phone numbers are accounted for.
Saved name_phone_numbers.json successfully.